[2013-08-25 14:01] markbrough opened #1 "Package issues don't get cleared if they are subsequently resolved"
See here:
https://github.com/okfn/ckanext-iati/blob/master/ckanext/iati/archiver.py#L107
https://github.com/okfn/ckanext-iati/blob/master/ckanext/iati/archiver.py#L200

If download() does not throw an exception, it should make sure that package issues are cleared.

For example: this file had an error in the past, and is now OK, but the issue is still displayed on the Registry:
http://iatiregistry.

[2013-08-25 14:02] markbrough opened #2 "Revision ID should be updated if package is changed?"
It would be much easier to check whether packages had changed if revision_id stored the most recent revision (including those revisions generated by the `iati-archiver` author) rather than only storing in the `extras['hash']` variable.

For example, you could then do this:
http://iatiregistry.org/api/2/search/dataset?fl=id,name,revision_id&offset=0&limit=10

Rather than having to iterate over ever

[2013-08-27 09:18] #1 closed, assigned to nobody

[2013-08-28 16:24] johnmartin opened #3 "Port theme to CKAN 2.x"

[2013-09-04 09:14] #3 closed, assigned to johnmartin

[2013-09-04 09:18] johnmartin opened #4 "CKAN 2.x theme tweaks"
## Todo
- [x] Organization on dataset page doesn't need `.context-info` border
- [x] Publisher listing doesn't fit across full width
- [x] No style for pagination links
- [x] `max-width: 100%` on `.context-info img`
- [x] `.active` state on organization read tabs not working
- [x] Organizations needs to be renamed to publishers throughout templates
- [x] Change favicon
- [ ] Change site title
- [x

[2013-09-04 12:27] amercader opened #7 "Messages formatting"
I added a couple of notices in the org and dataset pages. They need to have 15px margin-top and be orange/red but the bootstrap classes don't work.
Files are
ckanext/iati/theme/templates/package/read_base.html
ckanext/iati/theme/templates/organization/read_base.html

![nbzjetc](https://f.cloud.github.com/assets/200230/1080162/224ba34c-155d-11e3-8793-9a1625338589.png)

![r4qnumd](https://f.cloud.gi

[2013-09-05 08:54] #7 closed, assigned to nobody

[2013-09-05 08:59] johnmartin opened #8 "Template issues on publisher read page"
## Fixes
- [x] `.active` state on `publisher_read` tabs not working
- [x] No icon for datasets tab on `publisher_read` (should be 'sitemap')
## Notes

I think that both are related to the fact that the named routes for these are now 'publisher', therefore we need to give the new routes icons in the routing.

[2013-09-05 09:00] johnmartin opened #9 "Dataset page tweaks"
- [x] Display fields and issues
- [x] No link to resource page
- [x] Link to JSON (api v3)

See http://iati.staging.ckanhosted.com/dataset/aai-mw for reference of how it should be

[2013-09-05 09:02] johnmartin opened #10 "Finish dataset edit/create form"
## Todo
- [x] Add resources as a fieldset within main form
- [x] Keep sidebar consistant between edit and create

[2013-09-05 09:02] johnmartin opened #11 "Polish publisher form"
(include helper texts commented on the template)

[2013-09-05 09:04] #4 closed, assigned to johnmartin

[2013-09-05 09:43] amercader opened #12 "Some more frontend tweaks"
Just a new issue to compile found issues
- [x] Remove "There is no description for this organization" from the org module on the publisher page and on the dataset page. Also the members count on the publisher page
- [x] Breadcrumb on dataset page says Organization
- [x] Hover menus on top bar (Don't worry about auth for the time being)
- [x] Add data fields to publisher About page (The same fields

[2013-09-10 09:13] #8 closed, assigned to nobody

[2013-09-10 13:00] #12 closed, assigned to nobody

[2013-09-10 14:13] #11 closed, assigned to nobody

[2013-09-11 10:47] #9 closed, assigned to nobody

[2013-09-12 09:43] johnmartin opened #14 "Template tweaks"
- [x] Move sidebar to right column
- [x] `/dataset` should have alternating backgrounds (think zebra)
- [x] Hide 'show more' in faceting when there is no more...
- [x] Style 'show more' link differently from the facets
- [x] Make sure the download size is within the listing
- [x] Make the 'external link' icon like the original
- [x] 500 on publisher about page http://iati2.staging.ckanhosted.com/p

[2013-09-16 13:10] Bjwebb opened #15 "License information missing from repository"
There is currently no information about what license the extension is under.

[2013-09-26 09:18] #14 closed, assigned to johnmartin

[2013-09-26 09:37] #10 closed, assigned to johnmartin

[2013-09-30 13:00] amercader opened #17 "Bulk process page broken"
The facets are not shown correctly and the checkboxes do not work, eg:

http://iati2.staging.ckanhosted.com/publisher/bulk_process/dfid

[2013-10-01 09:18] #17 closed, assigned to nobody

[2013-10-14 11:00] #15 closed, assigned to nobody

[2013-10-14 11:00] #2 closed, assigned to nobody

[2014-01-06 17:31] Bjwebb opened #20 "url parameter should be percent encoded"
https://github.com/okfn/ckanext-iati/blob/master/ckanext/iati/theme/templates/snippets/resource_links.html#L16
https://github.com/okfn/ckanext-iati/blob/master/ckanext/iati/theme/templates/snippets/resource_links.html#L25

`resource.url` should be percent encoded before it is inserted into the url of the preview and csv download tools.

[2014-01-08 12:08] #20 closed, assigned to nobody

[2014-02-07 13:24] amercader opened #23 "CSV import fails on DOS encoded files"
We should chardet and try to decode the thing properly

[2014-02-07 13:38] #23 closed, assigned to nobody

[2014-02-21 18:06] stevieflow opened #25 "CSV upload > description"
Can we clarify whether the field for "description" is possible via the CSV upload?

[2014-02-21 18:08] stevieflow opened #26 "Bulk edits not showing in Activity Stream"
I just deleted several datasets on behalf of UNDP, via http://iatiregistry.org/publisher/bulk_process/undp

However, this activity does not display in http://iatiregistry.org/publisher/activity/undp

[2014-02-24 16:37] #26 closed, assigned to nobody

[2014-02-26 18:52] Bjwebb opened #27 "Datastore should be listed on "Using IATI Data""
http://iatiregistry.org/using-iati-data

[2014-03-04 10:10] stevieflow opened #28 "Broken links"
At the footer of the list http://iatiregistry.org/dataset - there are links to:

You can also access this registry using the API (see API Docs).

"API Docs" is a broken link.  Where best to point this?

[2014-03-05 17:04] stevieflow opened #29 "Update API page"
(from https://github.com/okfn/ckanext-iati/issues/28)

We need to update http://iatiregistry.org/registry-api to cover the version 3 API instead of version 1.

[2014-03-05 17:06] stevieflow opened #30 "Publisher listing page"
http://iatiregistry.org/publisher
- [x] For those that start with "The XYZ" alter listing so that they become "XYZ, The"
- [x] Add column for country HQ (publisher country) of the organisation
- [x] Exclude any publishers that have 0 files from the listing

[2014-03-05 17:09] stevieflow opened #31 "Search - publisher country"
Add drop down of publisher country to search page

[2014-03-05 17:10] stevieflow opened #32 "CSV uploading animation"
As data is being uploaded by the CSV file, include a progress bar / spinning wheel (!) animation to indicate there is progress..........

[2014-03-05 17:16] stevieflow opened #33 "Link to Implementation Schedule"
Include a field in the Publisher profile, which can be used as a link to the Implementation Schedule

[2014-03-07 13:39] #28 closed, assigned to nobody

[2014-03-11 13:37] stevieflow opened #34 "Grouping publishers"
What functions would there be for us to administer the groupings and labels for publishers - and indeed create new ones?

For example, we have a list we have created for a subset of publishers here:

https://docs.google.com/spreadsheets/d/1M3N_iTvW5HESsbFmkB6SRMf9WB97tlEZsviuKI-_ryQ/edit?usp=sharing

Would be useful to maintain this within the Registry

[2014-03-18 17:01] #34 closed, assigned to nobody

[2014-04-17 12:50] amercader opened #37 "Publisher redirects"
publisher/amrefuk > publisher/amrefha
amrefuk-\* > amrefha-*

publisher/ausaid > publisher/ausgov
ausaid-ag > ausgov-ag

[2014-04-17 13:36] #37 closed, assigned to nobody

[2014-04-24 19:03] stevieflow opened #39 "Remove linkedin and facebook icons"
These are in the site footer, next to the cookie disclaimer

[2014-05-08 14:56] stevieflow opened #40 "Update csv guidance and templateto include description"
In relation to: https://github.com/okfn/ckanext-iati/issues/25

@amercader I can do this in a branch and send a PR

[2014-05-09 09:15] amercader opened #41 "Review pending issues before production deployment"
@stevieflow @Bjwebb I've pushed all these pending issues into the staging server. It would be great if you could have a look and make sure you are happy before I push into production.
- [x] #23 CSV description
- [ ] #27 Link to datastore - Waiting for PR
- [x] #29 Update API page
- [x] #30 Publisher listing page
- [x] #31 Publisher country search
- [x] #32 CSV upload animation
- [x] #33 New publis

[2014-05-14 13:17] stevieflow opened #42 "Footer: Cookies' grammar"
See: https://github.com/IATI/IATI-Websites/issues/80

[2014-05-14 13:24] #39 closed, assigned to nobody

[2014-05-14 13:24] #31 closed, assigned to nobody

[2014-05-14 13:25] #32 closed, assigned to nobody

[2014-05-14 13:25] #29 closed, assigned to nobody

[2014-05-14 13:25] #25 closed, assigned to nobody

[2014-05-14 13:26] #33 closed, assigned to nobody

[2014-05-19 16:46] #42 closed, assigned to nobody

[2014-05-19 16:52] #40 closed, assigned to nobody

[2014-05-28 11:23] Bjwebb opened #44 "Sanitize resource links"
Click Download/Go to resource at these datasets, and see your cookies:
http://iati2.staging.ckanhosted.com/dataset/aai-998
http://demo.ckan.org/dataset/evil/resource/416c3b68-5f02-4e0e-a0e3-8ea90de490e0

Spotted this because my implementation schedule link is also vulnerable https://github.com/okfn/ckanext-iati/pull/38

[2014-06-04 10:40] #44 closed, assigned to nobody

[2014-06-04 13:22] #30 closed, assigned to nobody

[2014-06-12 10:25] stevieflow opened #46 "CSV download list"
A minor point, but the table at

http://iatiregistry.org/csv/download

doesnt reflect the changes made to the listing at

http://www.iatiregistry.org/publisher

Namely

The World Bank becomes "World Bank, The"

Those with 0 files are not listed

[2014-06-24 10:07] stevieflow opened #47 "It is not stated that country code must be uppercase"
http://iatiregistry.org/help_csv-import - lowercase values do not populate (eg: http://iatiregistry.org/publisher/oxfamgb)

[2014-07-10 10:12] #47 closed, assigned to nobody

[2014-07-10 10:12] #46 closed, assigned to nobody

[2014-07-10 10:13] #41 closed, assigned to nobody

[2014-07-28 10:16] Bjwebb opened #48 "Packages from the same publisher have different licenses"
Don't think this should be possible since this is set per publisher.

e.g.
http://www.iatiregistry.org/api/3/action/package_show?id=cic-sl
http://www.iatiregistry.org/api/3/action/package_show?id=cic-org

Spotted this from the licenses page on the dashboard:
http://dashboard.iatistandard.org/license/None.html (which has recently been updated to use a newer API call https://github.com/IATI/IATI-Das

[2014-08-13 09:06] amercader opened #49 "Show publishers with 0 datasets on Dashboard"

[2014-08-13 09:14] #49 closed, assigned to nobody

[2014-08-13 13:37] #48 closed, assigned to nobody

[2014-11-07 11:49] stevieflow opened #50 "Remove Archive / Verified from Package metadata"
These fields should be removed from the CKAN instance - which includes:
- the web interface
- the CVS upload template and script
- the API (if it is a search parameter) ?

[2014-11-07 11:51] stevieflow opened #51 "Remove fields for file start and end date dates"
For each package remove these fields for start and end date in:
- Web interface
- CSV template and upload
- API (if a parameter)

[2014-11-07 11:56] stevieflow opened #52 "Declare / display IATI version found in files"
Via the overnight script pull out the ``version=""`` attribute of the ``iati-activities`` or ``iati-organisation`` element for each file

Publish this in the record metadata - eg: http://iatiregistry.org/dataset/dfid-af

----------
Only display the version, if it meets one of these values: http://iatistandard.org/codelists/Version/
If a version is not found, or not on this code list, then display

[2014-11-17 13:37] stevieflow opened #53 "Change link for preview of package"
Change the URL to preview a package from:

http://tools.aidinfolabs.org/showmydata/index.php?url=[file URL]

to

http://preview.iatistandard.org/index.php?url=[file URL]

[2014-11-17 14:34] stevieflow opened #54 "Data package file size limit"
On the form for a new package edit this text for the URL field

from

to

[2014-11-18 16:47] stevieflow opened #55 "Top menu - change navigation label"
In the top "four channel" navigation, please change IATI REGISTRY/DATA to IATI DATA

[2014-11-18 16:51] stevieflow opened #56 "Remove CSV download link for a package"
Please remove this

[2014-11-25 10:53] stevieflow opened #57 "Rename date update field labels"
On a publisher / search page, eg:

http://iatiregistry.org/publisher/minbuza_nl
http://iatiregistry.org/dataset

Change "Last modified" to "IATI data updated"

-----
On a package listing page

http://iatiregistry.org/dataset/minbuza_nl-activities

Data updated > IATI data updated
Record updated > IATI registry updated

[2014-11-25 10:57] #56 closed, assigned to nobody

[2014-11-25 10:59] #55 closed, assigned to nobody

[2014-11-25 11:01] #54 closed, assigned to nobody

[2014-11-25 11:03] #51 closed, assigned to nobody

[2014-11-25 11:03] #50 closed, assigned to nobody

[2014-11-25 11:06] stevieflow opened #58 "Update CSV help text"
In /help_csv-import - need to remove guidance on the fields that have been removed in #51 and #50

@amercader I could do this via a PR from the IATI fork (or it might be easier for you to just do)?

[2014-11-26 13:59] stevieflow opened #59 "Advert box for IATI Datastore"
Data search page: http://iatiregistry.org/dataset
Publisher page: http://iatiregistry.org/publisher
Using IATI data: http://iatiregistry.org/using-iati-data
About: http://iatiregistry.org/about

Add a new box to the right hand side navigation - where we can advertise and direct people to the IATI datastore

Will include a small graphic and text - to follow

[2014-11-26 14:04] stevieflow opened #60 "New page - Registry homepage"
Homepage requires some redesign / replacement of text / image / rephrase

@amercader am I best to do myself and send through a PR?

[2014-11-26 14:06] stevieflow opened #61 "Package page - Alternative formats box"
Change title "Alternative formats" to "Metadata"

[2015-02-17 14:39] stevieflow opened #63 "Provide link to dashboard"
On an publisher page - eg:

http://iatiregistry.org/publisher/dipr

.. it would be useful to include a link through to their page on the IATI dashboard.  In the above case, this would be:

http://dashboard.iatistandard.org/publisher/dipr.html

Therefore, on the Registry - on the right hand side, could we have a new menu item (below "Data issues") for Dasboard - with a link constructed (http://dash

[2015-02-17 14:41] stevieflow commented on #57
any update on this?

[2015-02-17 16:35] stevieflow opened #64 "Publisher > About - data portal/user interface link"
In the publisher profile, there is a question for a user interface (last one):

http://iatiregistry.org/publisher/about/unhabitat

This is often a URL, which does not become an active link when published.  Either:

- 1 - make such links become active in this question
- 2 - we build another field for this, which can then be inserted into a more prominant   position on the Registry page for the publ

[2015-02-18 09:41] stevieflow opened #65 "Country list out of synch with IATI codelist"
I noticed that "AN - Netherlands Antillies" was missing from the Registry Country list at

https://raw.githubusercontent.com/okfn/ckanext-iati/master/ckanext/iati/countries.py

I could edit this, but wanted to check with @Bjwebb / @amercader if there could be a better way to synch with https://github.com/IATI/IATI-Codelists-NonEmbedded/blob/master/xml/Country.xml

@amercader this list is also avai

[2015-02-18 14:28] Bjwebb commented on #65
"AN - Netherlands Antillies" has been withdrawn from the ISO list.

[2015-02-19 09:56] stevieflow opened #66 "Dashboard > My Datasets - no pagination"
When logged in, f I go to http://iatiregistry.org/dashboard/datasets, I see a list of datasets, but function to list the next page of results

[2015-02-27 14:07] amercader commented on #27
Is this still relevant after #59?

[2015-02-27 14:08] amercader commented on #52
Done, yes n/a appears if there is an invalid version.

http://iati2.staging.ckanhosted.com/dataset/aa-organisation

[2015-02-27 14:09] amercader commented on #57
Done

http://iatiregistry.org/dataset/minbuza_nl-activities
http://iatiregistry.org/publisher/minbuza_nl

[2015-02-27 14:10] amercader commented on #58
Done http://iati2.staging.ckanhosted.com/help_csv-import

[2015-02-27 14:11] amercader commented on #59
Done

http://iati2.staging.ckanhosted.com/dataset
http://iati2.staging.ckanhosted.com/using-iati-data

Let me know if you want to change the text or icon (can be any of [these](http://fortawesome.github.io/Font-Awesome/3.2.1/icons/))

[2015-02-27 14:12] amercader commented on #60
Are further changes needed on the homepage? Otherwise we'll close this issue.

[2015-02-27 14:12] amercader commented on #61
Done

[2015-02-27 14:14] amercader commented on #63
Done.

I've added the link to the publisher box under the logo, as it is where it belongs conceptually rather than below the search filters, but happy to change it.

The icon can be any of [these](http://fortawesome.github.io/Font-Awesome/3.2.1/icons/).

[2015-02-27 14:24] amercader commented on #64
I added a new field (option 2):

http://iati2.staging.ckanhosted.com/publisher/unops

For reference, these are the publishers that have a url on the UI field:

[code]

The ones starting with www need http added to them.

[2015-02-27 14:26] amercader commented on #65
It is hard to keep in sync the two lists automatically as it will involve regular checking and persisting the list somewhere. If it isn't bound to change that much I'd suggest manual updates are probably enough.

Do we need to add "AN - Netherlands Antillies"?

[2015-02-27 14:28] amercader commented on #66
Adding pagination to this page is not trivial because of how it works internally. There is a hard limit of 50 datasets on CKAN core. Changing this and adding pagination would be involve extending it, which wouldn’t be easy.

[2015-03-02 11:12] stevieflow commented on #66
Thanks.

OK - guess we should just leave this open for now.  Quite a few IATI publishers have more than 50 datasets, but appreciate that this seems to be a major work

[2015-03-02 11:17] stevieflow commented on #64
That's great - thanks

I presume when we go live that the database will be copied across accordingly?

[2015-03-02 11:18] stevieflow commented on #63
Excellent, thankyou

[2015-03-02 11:18] #63 closed

[2015-03-02 11:19] stevieflow commented on #61
Thanks

[2015-03-02 11:19] #61 closed

[2015-03-02 11:20] stevieflow commented on #60
Ill leave this open, as I do need to do more changes today

[2015-03-02 11:25] stevieflow commented on #59
That's great - thanks

[2015-03-02 11:25] #59 closed

[2015-03-02 11:27] stevieflow commented on #58
Thanks

I wonder if we should remove:

[2015-03-02 11:29] stevieflow commented on #57
Excellent, thanks

[2015-03-02 11:29] #57 closed

[2015-03-02 11:30] stevieflow commented on #52
Great, thanks

[2015-03-02 11:30] #52 closed

[2015-03-02 11:31] amercader commented on #64
@stevieflow I haven't filled the new UI URL fields (except for that one example). I can do it automatically once we deploy to production (the stagind db is out of date)

[2015-03-02 11:31] stevieflow commented on #27
Ill close this, as we have things being put in place to lead people to the datastore

[2015-03-02 11:32] stevieflow commented on #64
@amercader great - thanks.  Had thought so.  We can do a review of the values and update once live (as we did with the logo, etc)

[2015-03-03 13:01] stevieflow commented on #64
Hi @amercader please could you rename the text label for this link to "Publisher's data platform" ?

[2015-03-03 13:03] stevieflow opened #67 "Publisher > Org website"
Please can we include a new field in the publisher form for:

Organisation website
Please include the URL to your organisation website.  This can be your homepage or relevant link.

The field should be of type URL (as per the new Publisher Platform field)

When populated, can this then sit beneath the links beneath the logo - as the last link.  Label: "Organisation website"

Thanks

[2015-03-03 13:08] stevieflow opened #68 "Publisher > Add link to d-portal"
Similar to #63 , can we include a link from the publisher page to d-portal

Example:

http://d-portal.org/ctrack.html?publisher=41119

The 41119 value is found in the field "IATI Identifier" in the Registry publisher profile.

If value is blank, then do not include a link

[2015-03-11 10:54] stevieflow opened #69 "Publisher page > Info box"
Regarding the recent developments and issues to add links to dashboard / d-portal etc - could we please add:

- Publisher Registry ID (printed as Identifier: XYZ)
- Publisher HQ Country ((HQ Country: ABC)
- Link: Publisher website

Additionally, can we then collect into a *new* box on the right hand side of the publisher page, beneath the name/logo/info of the publisher - labelled "Publisher IATI

[2015-03-11 10:55] stevieflow commented on #68
See also: https://github.com/okfn/ckanext-iati/issues/69

[2015-03-27 12:08] amercader commented on #58
Done

[2015-03-27 12:08] amercader commented on #64
Done

[2015-03-27 12:08] amercader commented on #67
Done, see #69

[2015-03-27 12:08] amercader commented on #68
Done, see #69

[2015-03-27 12:08] amercader commented on #69
Done see http://iati2.staging.ckanhosted.com/publisher/unops

[2015-03-30 08:05] #69 closed

[2015-08-03 12:10] #27 closed

[2015-08-03 12:13] #60 closed

[2015-08-03 12:20] #68 closed

[2015-08-03 16:38] Mattdevinit commented on #53
@brew - I think these links to new previewer were part of the IATI Registry staging site, but they haven't gone live, could you check it out and push to live please?

[2015-08-04 08:27] brew commented on #53
The `iati.preview_service` setting in the config needed to be changed to the correct url. That's been done now.

[2015-08-04 08:33] Mattdevinit commented on #53
great - thanks @brew

[2015-08-04 08:33] #53 closed

[2015-08-04 11:32] #67 closed

[2015-08-04 11:36] #64 closed

[2015-08-04 11:44] #58 closed

[2015-08-05 07:08] stevieflow opened #70 "Duplicate Dashboard pages"
The page http://iatiregistry.org/dashboard is now text about the IATI Dashboard .. but not the IATI Registry Dashboard, which lists my packages and activity.

It would be useful to reinstate the Registry Dashboard at http://iatiregistry.org/dashboard, and position the IATI Dashboard content elsewhere

[2015-08-06 09:00] Mattdevinit commented on #70
@brew please could we amend the 'Dashboard' link (there's two - in this case the one between 'sysadmin' and 'my account' when logged in on the Registry site) to be called 'My data' and have the user's packages/activity as described by @stevieflow there?
Then we can just keep the http://iatiregistry.org/dashboard page as it is, linking to IATI Dashboard

[2015-08-06 14:48] brew commented on #70
This is fixed and deployed. The url for the registry dashboard is now `/registry-dashboard`.

[2015-08-06 14:53] Mattdevinit commented on #70
great - thanks @brew

[2015-08-06 14:53] #70 closed

[2016-02-22 13:36] iatisupport opened #71 "Add Contact Email Field To A Publisher Account"
A single contact email address for a publisher needs to be displayed under the organisation website on the right hand sidebar when viewing publisher details  eg http://iatiregistry.org/publisher/dipr

To do this we propose that the publisher admin 'Contact' field is renamed address and an additional new field called 'Contact Email' is added underneath this 'Address' (formally Contact) field. Also

[2016-02-22 13:46] wendyrogers opened #72 "Make Changes To Publisher IATI Identifier Field"
On the form for the 'Admin' section of a publisher account eg http://iatiregistry.org/publisher/edit/dipr the label for the field 'IATI Identifier' should be changed to 'IATI Organisation Identifier'. This field should also be mandatory.

In addition, the help information underneath this field should be amended from:

'The organisation identifier used in the IATI-xml files to identify the reportin

[2016-02-22 16:08] dalepotter opened #73 "Restore the link to the CSV export functionality"
We would like to reinstate the link to download an activity file in CSV format. This used to exist on the activity page, but was removed over the summer (2015).

The link pointed to `http:/tools.aidinfolabs.org/csv/direct_from_registry/?xml=[URL of activity file]` - for example: `http:/tools.aidinfolabs.org/csv/direct_from_registry/?xml=http%3A//iati.dfid.gov.uk/iati_files/Country/DFID-Afghanistan

[2016-02-22 16:20] Mattdevinit opened #74 "Install an SSL certificate on the Registry domain"
and set up a redirect to send all traffic accessing via HTTP to HTTPS please

[2016-04-27 13:34] wendyrogers opened #76 "Add 'Date First Published' To Publisher Accounts"
From a registry management perspective it is extremely useful for us to know when (date) an organisation publishes IATI XML files to the IATI Registry for the very first time. Therefore, we should add this field to all publisher accounts. The field should be a read only field (so it can not be changed via the user interface) and only updated once.

When this field is added we would also want to po

[2016-04-27 13:39] wendyrogers opened #77 "Automate the Regular Running of the IATI Registry Purge"
It is my understanding that when a publisher account status is updated to a value of 'Deleted' the record is not actually physically deleted until we have manually run the following command on the IATI Register - http://iatiregistry.org/ckan-admin/trash?__no_cache__=True

This can cause problems for third party Registry users who may want to delete and reuse the URL assigned to a published dataset

[2016-07-26 13:42] dalepotter commented on #74
This is now 95%, although there is a small 'insecure content warning' issue to be resolved: http://discuss.iatistandard.org/t/iati-registry-now-using-https/511/6

When resolved, this issue can be closed.

[2016-07-26 13:46] dalepotter commented on #73
This issue appears to be have bene addressed in 40f4bbb.

Once deployed to the live instance, this issue can be closed

[2016-07-26 13:48] dalepotter commented on #71
This issue appears to be have been addressed in cbd2663 and f76abac.

Once deployed to the live instance, this issue can be closed

[2016-07-26 13:56] dalepotter opened #79 "Alphabetical ordering on publisher page"
Looking at the [Registry publisher page](https://www.iatiregistry.org/publisher), it seems that the ordering of publishers has reverted to alphabetical by publisher ID (rather than actual name, which is more user-friendly).  We have also noticed that functionality to sort by the 'Publisher' column has disappeared.

![image](https://cloud.githubusercontent.com/assets/8247168/17140623/054b6bae-5341-

[2016-07-29 09:12] peppe1337 commented on #79
Hey Dale,

thanks for rasing this. We will take care about this.

Best regards,

Chris

[2016-08-08 12:30] peppe1337 commented on #72
@dalepotter this should be already implemented on the v.2.5.2 staging site.

[2016-08-19 15:47] dalepotter commented on #79
Hi @peppe1337 just wondered if there was an update on this one as [the issue still appears to remain](https://www.iatiregistry.org/publisher) on the live site.

[2016-08-22 14:50] wendyrogers opened #81 "Registry Not Handling 'Missing' File Correctly"
This issue has been raised from a Zendesk ticket (3834)

Plan Netherlands has a dataset that contains an invalid URL to a file. However, the Registry is displaying the dataset information in an 'strange way - see https://iatiregistry.org/dataset/plannlno-89

 @peppe1337 - please could you investigate. TIA

[2016-08-22 15:05] peppe1337 commented on #79
Hey @dalepotter - I received an update from my development team on Friday. The ascending bug, was one of the older ones and which was gathered on GitHub.

During our migration plans we agreed that this bug will be fixed on the new portal version, what we did and it is working. I asked my devs, if we can't take the new solution and push it on the older portal. They tried it and said it failed due t

[2016-08-22 15:30] markbrough commented on #79
@peppe1337 I'm pretty sure this issue is a result of #74 ([detailed here](http://discuss.iatistandard.org/t/iati-registry-now-using-https/511/10)). There is a `tablesorter` plugin which should be re-sorting correctly in the browser, but it is not working because the script is halted due to the warnings.

[2016-08-23 10:36] wendyrogers opened #82 "Registry Slow To Respond Via Chrome"
Also raised via IATI Zendesk ticket 3941.

The  IATI Registry is currently taking a very long time to view/change pages etc. and has on a few occasions also timed out? I ususally use Chrome as my browser so I don't know if this a browser specific issue as it does appear to be slightly faster on Firefox?

@peppe1337 to investigate? TIA

[2016-08-23 10:50] peppe1337 commented on #82
Hey @wendyrogers,

thanks for posting with. We will take a look at this.

Unfortunately I haven't received a Zendesk ticket about this. Or was the ticket raised at your system?

Can you maybe raise this to our ZenDesk account?

Thanks!

[2016-08-23 10:54] peppe1337 commented on #79
@markbrough thanks for your help. I will forward this to the devs.

[2016-08-23 10:58] wendyrogers commented on #82
Many thanks @peppe1337 and just to let you know that I sent the request from our Help Desk to Yours and also CC'd you in as well?

[2016-08-23 11:11] peppe1337 commented on #82
@wendyrogers received it!

[2016-08-30 14:22] dalepotter commented on #79
@peppe1337 any update?

[2016-08-30 14:48] peppe1337 commented on #79
@dalepotter I wrote you an email.

[2016-08-30 15:38] dalepotter commented on #82
Just to add a more technical perspective, I can confirm that the registry seems to be performing relatively slowly - at least compared to all other sites I have tested.

Below tests done one after the other using a [curl command](https://viewsby.wordpress.com/2013/01/07/get-response-time-with-curl/) (results in seconds):

[code]

@wendyrogers is this the type of slow responses that you are experie

[2016-08-31 14:00] dalepotter commented on #81
Just taking a look through the GH issues... @peppe1337 is there any update on this one?

[2016-08-31 14:32] peppe1337 commented on #81
@dalepotter @wendyrogers  do we have an open ticket for this one? I just checked on ZenDesk, but couldn't find one, which was created in the last ten days. (Except the slow accessibility)

I will add this as a task for us to check and solve!

[2016-09-01 08:15] wendyrogers commented on #81
@peppe1337 As there is only one dataset I would expect the details of the dataset to be displayed with a message to say that the resource (specified in the URL of the dataset) is missing? The Registry did use to do this?

Also I have resent the email that this issues was raised from. TIA

[2016-09-01 08:38] wendyrogers opened #85 "Notifciation Email Not Received When new Publisher Account Created on Staging Registry"
A publisher recently created a new account on the staging Registry account at  https://iati-staging.ckan.io. However, we did not appear to receive an email notification to let us know that the account had been created. This is essential for us as we need to 'authorise' the account (ie amend the status from 'Pending' to 'Active' so the publisher can add datasets to the account) and there is also (a

[2016-09-01 10:36] dalepotter commented on #85
To confirm the clarification sought by @peppe1337 , we want to receive an email notification after a user registers. This happens on our [current live portal](https://iatiregistry.org/) (running CKAN v2.1.4), but not on the [new staging version](https://iati-staging.ckan.io/) (running CKAN v.2.5.2).

[2016-09-01 10:53] dalepotter commented on #79
Just to update here following conversations by email. We understand from @peppe1337 that no functionality for alphabetical ordering was available in the old CKAN version (i.e. the [soon-to-be upgraded version](http://www.aidtransparency.net/news/important-changes-to-the-iati-registry-api) of the IATI Registry), and we have not found any concrete evidence that such functionality worked in the curre

[2016-09-01 10:53] #79 closed

[2016-09-01 10:56] dalepotter commented on #74
Alongside #79, we understand that this should be resolved when the IATI Registry is [upgraded to a newer CKAN version](http://www.aidtransparency.net/news/important-changes-to-the-iati-registry-api) in October, meaning that a fix will take some time and would only exist for 4-6 weeks. Therefore, this issue is being marked as a #wontfix for now.

[2016-09-07 08:48] dalepotter commented on #85
Following a recent call with @chrisviderum we understand that this issue is almost resolved.

[2016-09-07 08:58] dalepotter commented on #82
Just an update that this one remains under investigation by @chrisviderum and team. The cross-browser testing website [Browserstack](https://www.browserstack.com) may be useful to test this issue further and understand how different browsers are affected.

I just made a quick account and saw some slow load times accessing `https://iati-staging.ckan.io/publisher` under Internet Explorer (v11) Firef

[2016-09-07 09:00] dalepotter commented on #76
@chrisviderum would you be able to provide a time estimate to add this feature?

[2016-09-07 09:21] dalepotter commented on #65
Just looking through some old issues during a call with @chrisviderum.

Chris, would you be able to give a time estimate in order to add this functionality?  To confirm, this would involve with automatically syncing the IATI Country codelist into the country dropdown fields on the following pages:

- `https://iatiregistry.org/publisher/edit/<publisher_name>`
- `https://iatiregistry.org/dataset/edi

[2016-09-07 16:26] chrisviderum commented on #85
@dalepotter @wendyrogers

This issue should be resolved. The iati-staging portal was updated with a fix.

[2016-09-07 16:40] chrisviderum commented on #76
@dalepotter @wendyrogers

You will receive an estimation on Friday. Tomorrow is a national holiday for most of our development staff, so I hope it is okay that you may receive it a bit after 9am London time.

[2016-09-07 16:47] chrisviderum commented on #82
@dalepotter @wendyrogers

We will create a solution and give you an estimation on Friday.

Tomorrow is a national holiday for most of our development staff, so I hope it is okay that you may receive it a bit after 9am London time.

[2016-09-07 16:51] chrisviderum commented on #65
@dalepotter like you mentioned in your last sentence it is very likely that it isn't worth to develop an automated process from a business perspective, but there are some other advantages which making it useful. (At least it is the point that you don't have to care about it anymore)

I will give you an estimation on Friday about it. Tomorrow is a national holiday for most of our development staff,

[2016-09-08 09:47] dalepotter commented on #85
Thanks for this update @chrisviderum

@wendyrogers would you be able to test this feature on the [new iati-staging portal](https://iati-staging.ckan.io)?

[2016-09-09 14:23] peppe1337 commented on #76
@dalepotter @wendyrogers

Just to doublecheck:  This field should have a date as soon as a user uploaded a file through:  https://iati-staging.ckan.io/csv/upload the first time?

Thanks for your help!

[2016-09-09 14:24] chrisviderum commented on #76
Wrong account. I will learn it one day. Sorry!

[2016-09-09 14:51] chrisviderum commented on #76
The estimation here would be 2days of development work and 0.5-1 day of testing.

[2016-09-09 17:19] chrisviderum commented on #65
@dalepotter the first solution which comes to our mind is a script which checks and updates the country list everyday.

For this we need to customize your meta data schema with a script and enlarge the extension. (Updating the meta data schema is always a bit tricky)

So with tests we would need to go with 3, but more likely 4 days of work.

I think updating the schema by hand is better in this ca

[2016-09-09 17:37] chrisviderum commented on #82
Our estimation to fix this is 10 hours of work.

We would like to try a fix we have used for another big portal in the past to solve this performance issue.

But to be honest maybe it will be better to build in a pagination system with a search bar to search for specific publisher? This would take us 24 hours at all.

What do you think?

[2016-09-12 08:38] wendyrogers commented on #76
Many thanks @chrisviderum and I wanted to confirm that the 'date first published' field should normally only be updated on the very first time that any file is first added to a publisher account via the populating of the URL field of a dataset. However, the populating of the URL field can also be done manually via the Registry online interface or via the API and so is not just through the upload f

[2016-09-12 10:06] chrisviderum commented on #76
Thank you very much for this update.

I will get back to you with a new estimation, soon.

[2016-09-12 16:06] dalepotter opened #86 "Deployment of recent pull request"
Just a ticket to follow-up on the deployment of this pull request that we initially submitted the week before last: https://github.com/okfn/ckanext-iati/pull/83

The code has been submitted but this seems to be awaiting deployment to the current server: https://iatiregistry.org

Any chance you could follow this up @chrisviderum Many thanks!

[2016-09-13 06:43] chrisviderum commented on #86
Good morning Dale!

I wasn't aware that something needs to be done so far. I will take care.

[2016-09-13 07:47] polarp commented on #86
@dalepotter @chrisviderum FYI the pull request is deployed to https://iatiregistry.org.

[2016-09-13 08:48] dalepotter commented on #86
@polarp @chrisviderum Many thanks for addressing this one so quickly! I will now close the issue...

[2016-09-13 08:48] #86 closed

[2016-09-13 08:54] chrisviderum commented on #76
@wendyrogers what is meant with "via the populating of the URL field"?

This is the only thing we are not 100% sure about. Can we make it a general rule for the first time a publisher has uploaded in general a dataset?

If not, can you please describe, how a user can upload a dataset that it will be counted? I understood that one way is through an upload via https://iati-staging.ckan.io/csv/upload

[2016-09-13 09:11] chrisviderum commented on #81
As an update here.

We have updated the 2.5.2 portal with a fix regarding this issue. The data archiver had a minor issue which causes this problem.

We deleted this specific dataset on the new portal, because the publisher tried to delete it months ago:  https://iati-staging.ckan.io/dataset/plannlno-89

[2016-09-13 13:55] dalepotter commented on #81
Thanks for the update on this one @chrisviderum

[2016-09-13 14:12] dalepotter commented on #65
Thanks for this estimate @chrisviderum At the moment we agree that it is not worth adding a automated solution at the moment.  Instead, let's continue to do it manually for the time being.

Just looking at the `Country` codelist on the 'Create new publisher' page. This seems to be a mix of countries and geographic regions. @wendyrogers could you confirm this is what we still want?

![image](https:

[2016-09-13 14:16] dalepotter commented on #82
Hi @chrisviderum, many thanks for this estimate. Would it be ok to ask for a bit of extra detail on the 10 hour time estimate - do you know what approach that the developers are suggesting?

Also, just thinking about the 24 hours to implement the pagination (guessing this is 3 days x 8 hours each?).  Without knowing the ins and outs of CKAN, this sounds like quite a long time for what appears to b

[2016-09-14 03:01] chrisviderum commented on #65
@dalepotter I will give you an estimation soon, but it should be much shorter!

[2016-09-14 03:25] chrisviderum commented on #82
Hey @dalepotter I can go back to me dev and ask for a more detailed break down.

In general the CKAN system is a bit complicated, as most things are working through overriding and adding other parts. This pagination system would be a new extension we need to build. In this 24 hours (3days x8hours is correct), we would develop the extension, write tests for it and test it on the new v2.5.2 portal.

[2016-09-14 10:39] wendyrogers commented on #76
@chrisviderum When a publisher creates a dataset we need them to provide a valid URL in the 'URL' field of the 'Data file' section when creating a dataset.  That URL ideally needs to reference an IATI XML file (and not an html or other file type).  It is only when a valid URL has been provided that we consider a publisher to have 'published'. I think that it is also currently possible to create a

[2016-09-14 11:31] wendyrogers commented on #81
Thanks for update @chrisviderum . Also would it be a quick fix to also apply it to the live Registry as well?

[2016-09-14 11:39] wendyrogers commented on #85
@dalepotter  Yes have tested by creating a new publisher account but did still not receive an email notification? NB notification should go to the same set of Admins as for the live Registry

@chrisviderum - please can you check fix? Thanks

[2016-09-15 14:06] dalepotter opened #89 "Pull requests for merging and deployment"
@chrisviderum just to flag that I added a couple new pull requests a couple days ago (https://github.com/okfn/ckanext-iati/pull/87 and https://github.com/okfn/ckanext-iati/pull/88), which seek to fix some links after a domain name for an external site changed.

Would it be ok to schedule a developer to take a look at these and deploy to the live/staging instances?

[2016-09-16 14:39] chrisviderum commented on #76
@wendyrogers thanks you very much. I will get back very soon!

[2016-09-16 14:43] chrisviderum commented on #81
@wendyrogers in general every fix on the "live registry is a bit complicated at the moment, because we don't have a real development environmnet for it anymore and through the older CKAN version our development team runs over and over again into issues while running it on their local machines.

I think it wouldn't be a quick fix to the live registry. So I would ask to wait for the migration to the

[2016-09-16 14:43] chrisviderum commented on #85
@wendyrogers thanks for the update. Can you tell me which publisher account you have created? We will investigate on this one.

[2016-09-16 14:45] chrisviderum commented on #89
@dalepotter thanks for notifying! I don't receive messages, when a new pull request was set. I have already scheduled it now.

I will update here soon!

[2016-09-18 09:28] wendyrogers commented on #81
Ok and thanks for the information @chrisviderum. We will wait for the migration then.

[2016-09-19 08:53] wendyrogers commented on #85
@chrisviderum I couldn't find the original publisher account I created but have therefore created another https://iati-staging.ckan.io/publisher/wrtest with the same issue.

Also, is there currently any way to view all accounts with a status of 'Pending' via the user interface?

[2016-09-19 12:37] chrisviderum commented on #85
@wendyrogers thanks! We will investigate.

This is a good question, but I don't think so.

[2016-09-19 12:53] chrisviderum commented on #82
@dalepotter here is the breakdwon of the 10 hours:

* Troubleshoot loading time issue (DB, Code, Web server): 7 hours
* Fix issue: 2.5 hours
* Regression test: 30 minutes
* Deploy to staging: 15 minutes

Note: Troubleshooting could be less time needed.

Some notes in addition (why my answer took so long):

We did some investigations already:

Both staging and production use this API action in the

[2016-09-19 14:21] chrisviderum commented on #65
@dalepotter it took us 1 hour to update the list. I hope this is fine for you.

[2016-09-20 10:55] chrisviderum commented on #85
@wendyrogers we added admin accounts now. Can you maybe try it again?

[2016-09-20 11:12] dalepotter commented on #65
@chrisviderum Many thanks for this information. If it's ok, we will wait to discuss the exact options that should be contained within the dropdown list, as this is currently a mix of two of our codelists.

I will let you know once we have a decided how to proceed. Many thanks in advance.

[2016-09-20 13:45] dalepotter commented on #81
Hi @chrisviderum, was just reviewing this one. I'm not sure if I understood correctly but should the fix applied to v2.5.2 (i.e. the staging version) resolve this issue?  When just clicking through to the link in your response on [13th September](https://github.com/okfn/ckanext-iati/issues/81#issuecomment-246622095), the bug still seems to appear:

![image](https://cloud.githubusercontent.com/asse

[2016-09-20 14:07] chrisviderum commented on #81
@dalepotter thanks for your post. We will check this, but my first guess that this is a result of the database migration some days ago.

The archiver had some problems which we fixed. With the database we migrated this "broken" dataset to the new portal. Our fix prevents like that doesn't happen in the future anymore.

After we have done the last database migration we will delete this dataset.

Be

[2016-09-20 14:53] wendyrogers commented on #85
Thanks @chrisviderum have retested and have now received a notification email as required. Please can you make sure that the Admin account are retained / recreated each time the staging site is updated. Many thanks

[2016-09-21 11:45] chrisviderum commented on #85
@wendyrogers great news! We will do from now on. The next time we update the database is on Tuesday, the 27th of September. Correct @dalepotter ?

[2016-09-21 14:23] chrisviderum commented on #76
The estimations are still the same.

2 days of development at all and 0.5 - 1 day of testing.

[2016-09-21 14:24] chrisviderum commented on #76
@wendyrogers thanks for your help with giving the information.

Would you like to have this added to the new portal?

[2016-09-28 15:54] chrisviderum commented on #89
@dalepotter I think those pull requests were accepted a week ago.

Can we close this one?

[2016-09-28 15:55] chrisviderum commented on #85
@wendyrogers we updated the database yesterday. Would you like to do an additional to test and check, if it working like it should?

[2016-09-28 16:01] chrisviderum commented on #77
@wendyrogers you are correct with your first assumption. After a publisher deleted a dataset it will put into the bin. A Sysadmin can purge the deleted files and frees up the URLs again.

I will ask my team, if we can create a script which runs on a regular basis. What timeframe would work for you? Every day, every week or every month?

[2016-09-29 11:52] wendyrogers commented on #85
Thanks @chrisviderum have retested and email received as required.

[2016-09-29 11:57] wendyrogers commented on #77
Thank you @chrisviderum my vote would be for daily but @dalepotter @roryscott what do you think?

Also I think with some of the features available in the later version of the CKAN API this is less of an issue for us now?

[2016-09-30 14:23] dalepotter commented on #76
Thanks for this estimation @chrisviderum We would like to add this feature, however we would like to wait until our version of CKAN has been [upgraded to v2.5.2](http://www.aidtransparency.net/news/important-changes-to-the-iati-registry-api) (week beginning 10th October).

I will give the formal go-ahead at some point after this.

[2016-10-14 13:39] dalepotter commented on #89
Many thanks @chrisviderum - these have now been deployed, so I will close the issue.

[2016-10-14 13:39] #89 closed

[2016-10-17 12:29] chrisviderum commented on #76
@dalepotter @wendyrogers

Just to let you know:  We are working on this feature now.

During our first investigations we ran into some problems, about which I would like to inform you and where I need your decision on:

1. Already existing publishers

We only have information regarding the data which is currently uploaded. So we would take the creation_date of the first uploaded data of the curren

[2016-10-17 12:57] wendyrogers commented on #76
@chrisviderum  we currently maintain the 'first published date' for all existing publishers as part of our CRM. Therefore (as per the first post of this issue) we would like to update this new field on the IATI registry with the CRM information that we currently hold for each existing publisher. I can provide this information (publisher ID & data first published) in Excel format if that would prov

[2016-10-17 18:41] klikstermkd commented on #76
@wendyrogers Should the date be in the format "YYYY-MM-DD" (e.g. 2016-10-17) ?

[2016-10-18 08:35] chrisviderum commented on #85
@wendyrogers are all notifiactions received as planned?

[2016-10-18 08:37] chrisviderum commented on #74
@dalepotter do we face any issues with the SSL certificate?

The alphabetical ordering on the publisher page should work, too.

[2016-10-18 08:39] wendyrogers commented on #85
@chrisviderum yes we are receiving the new account notification but they currently contain the 'wrong' registry account URL. eg the emails reference  https://iatiregistry.ckan.io/publisher/soundseekers rather than https://www.iatiregistry.org/publisher soundseekers Although cosmetic please could the email text be amended to use the www.iatiregistry.org domain

[2016-10-18 11:21] wendyrogers opened #94 "Create Page To View All IATI Registry Publisher Accounts With Status of 'Pending'"
It would be extremely useful for IATI Registry Admin users to have a page similar to http://iatiregistry.org/dashboard/organizations but that only lists publisher accounts with a status of 'Pending'. Please could you advise how much resource this would take to create?

[2016-10-18 11:30] wendyrogers commented on #76
I think the field should be stored in the same format as for all other dates. However, it should also be displayed in the publisher box in the right hand sidebar under 'HQ Country' and above 'Followers' as:

Date First Published
17 Oct 2017

eg on publisher page https://iatiregistry.org/publisher/asi

[2016-10-18 11:46] klikstermkd commented on #76
The feature is now implemented on staging https://iati-staging.ckan.io

If it looks good to you I will push it on production as well.

[2016-10-18 13:18] wendyrogers commented on #76
Thakn @klikstermkd I have tried to have a look but every time I try and access a publisher record I am getting a 500 error message Server Error - An internal server error occurred?

Also do you want me to provide a file containing publisher IDs and the dates of first publication for all existing publishers so they can be added as a one off exercise?

[2016-10-19 10:20] chrisviderum commented on #76
@wendyrogers sorry for the delay. You shouldn't receive the error message anymore.

https://iati-staging.ckan.io/

Hopefully you can give it a try now!

[2016-10-19 13:10] rory09 commented on #85
@wendyrogers, @chrisviderum I think this is a broader problem that the `.io` address is still set as the site address. This means that all of the API responses which return a link to the registry will return the `.io` address, not `iatiregistry.org` - this isn't a huge issue right now, but if you were to stop serving on the the `.io` address, things could get very messy.

See here for what I'm tal

[2016-10-20 10:10] wendyrogers commented on #76
Thank you @chrisviderum and having now looked at the changes please could you just the display so that
1) the date is on a separate line to the heading
2) the date is in the format 10 October 2016

Also, having registered a new user and trying to add a new publisher I am getting an Internal server error 'An internal server error occurred'?

Finally , I will separately email the list of first publi

[2016-10-21 10:40] dalepotter opened #95 "Generation of dataset metadata appears to be incorrect"
There appears to be a bug in the process to generate metadata to be displayed on the dataset page.

Looking at the a [dataset](https://iatiregistry.org/dataset/ofid-activity1) which appeared to have been uploaded yesterday evening (2016-10-20 20:12), which shows an activity count of 1363.

![image](https://cloud.githubusercontent.com/assets/8247168/19595277/f93be0c6-9780-11e6-99c2-2821af959134.png

[2016-10-21 14:28] chrisviderum commented on #76
@wendyrogers changes are provided on iati-staging.ckan.io

The internal server error should be sorted out, too.

After we received your sign off, we can agree on a release date for this feature.

[2016-10-21 16:14] chrisviderum commented on #71
@dalepotter @wendyrogers

This field should be now available.

[2016-10-21 16:15] chrisviderum commented on #72
@wendyrogers  this fix is now live.

[2016-10-21 16:17] chrisviderum commented on #73
@dalepotter this should be live now. Correct?

[2016-10-24 11:23] wendyrogers commented on #72
@chrisviderum thank you and all looks fine so happy to close issue

[2016-10-24 11:30] wendyrogers commented on #71
Thank you @chrisviderum . I can see the new field which is good but it should be mandatory when the publisher account is created or updated. I can currently update an existing publisher account with an empty field?

[2016-10-24 15:07] chrisviderum commented on #71
@wendyrogers then we will make it mandatory. I will update this ticket as soon as this was done.

[2016-10-24 15:19] chrisviderum commented on #81
@dalepotter @wendyrogers

Can we close this ticket?

[2016-10-24 15:23] chrisviderum commented on #94
@wendyrogers  would it be fine, if we sort out the other open issues, before we are getting our hands on this one?

[2016-10-25 12:58] wendyrogers commented on #94
@chrisviderum yes given that there are other issues more pressing at the moment I am happy for us to look at this one once the backlog of issues relating to the recent Registry upgrade have been cleared

[2016-10-25 14:09] wendyrogers commented on #81
@chrisviderum yes okay to close now

[2016-10-25 14:32] wendyrogers commented on #76
Thx @chrisviderum but when logged in as Admin to the staging site I am still getting the internal server error?

Also, from a separate discussion you said that it is not possible to update the first published date field for all existing publishers from the excel file I sent to you. Is manually updating each publisher the only option for this?

[2016-10-25 16:35] rory09 opened #98 "Change header link"
We will need to change the 'IATI Community' link to from `http://support.iatistandard.org` `http://discuss.iatistandard.org/t/welcome-to-iati-discuss`

![registry-header](https://cloud.githubusercontent.com/assets/7805169/19694982/4d110eb4-9ad9-11e6-8c7b-04dbb8b24b12.png)

This follows a change we have made to the location of our discussion and consultation forums.

@chrisviderum could you provide

[2016-10-26 09:16] wendyrogers commented on #95
Issue updated as another publisher has now reported that they have added new datasets to their publisher account but the dataset metadata has not been updated - https://iatiregistry.org/publisher/jica

[2016-10-26 10:51] klikstermkd commented on #85
Just to be clear. The issue here is that if a user register a new publisher through ``iatiregistry.org``, the URL that's in the email points to ``iatiregistry.ckan.io``, right?

[2016-10-26 12:09] wendyrogers commented on #85
This issue was originally raised because the URL received in the notification emails contained the site URL https://iatiregistry.ckan.io rather than https://www.iatiregistry.org. However, re Rory's post above is this because the site address is still set to https://iatiregistry.ckan.io rathe than https://www.iatiregistry.org ? If this is the case then it would be better to amend the site address r

[2016-10-26 12:31] chrisviderum commented on #71
@wendyrogers field should be mandatory now.

iati-staging.ckan.io

Does it work like you would like to have it now?

[2016-10-26 16:36] dalepotter opened #100 "Pagination on publisher dataset page appears to be broken"
On publisher dataset pages (such as https://iatiregistry.org/publisher/asdb), it seems that the buttons to switch between pages do not work - i.e. clicking any page number simply reloads the current (first) page.

![image](https://cloud.githubusercontent.com/assets/8247168/19735251/bb148980-9ba2-11e6-9640-78ee4a30f339.png)

The publisher (Asian Development Bank) have raised this issue and I can co

[2016-10-27 09:36] wendyrogers commented on #95
Another publisher has reported that they have updated their datasets and the metadata does appear to have been updated. However, the IATI Harvester script is now showing in their Activity Tab? https://iatiregistry.org/publisher/activity/ebrd

[2016-10-27 10:05] wendyrogers commented on #71
Thanks @chrisviderum and I have retested. However, it appears that I can actually enter a non valid email address in the field. Please can the structure of the input be tested for a valid email address?

Also, will this change have any impact on any API call or has it only been currently implemented thorugh the web user interface?

[2016-10-27 14:27] chrisviderum commented on #85
@wendyrogers @rory09

Can you run a test, if it's working now?

[2016-10-27 14:28] chrisviderum commented on #76
@klikstermkd has fixed the internal server errors. Very strange! Can you take a look at it again, please?

That is correct. Maybe @klikstermkd can give here again another insight, but as far as I understood ti would be the only option.

Thanks for your help.

[2016-10-27 14:33] chrisviderum commented on #71
@wendyrogers having a validation process for the field wasn't part of the development scope until now and wasn't considered for the estimation given for this work.

I will ask my development how long it takes to add a feature like that. Of course, I will ask them about the API question, too.

[2016-10-27 14:36] chrisviderum commented on #76
@wendyrogers so you weren't able to test it?

[2016-10-27 15:31] chrisviderum commented on #98
We will take care of it.

[2016-10-28 08:56] dalepotter commented on #98
Thanks for this @chrisviderum - just to clarify that I created a pull request https://github.com/ViderumGlobal/ckanext-iati/pull/99 which should address this issue. This just needs checking and merging :-)

[2016-10-28 09:25] chrisviderum commented on #71
It will take us 1 hour to add this functionality. Is it fine for you, if we add it?

There won't be an impact on the API by this.

[2016-10-28 09:27] chrisviderum commented on #98
@dalepotter I noticed it this morning. We will review and accept this request.

And FYI: Viderum is owner of this repository now. So let's try to make you an admin here, soon!

[2016-10-28 13:39] rory09 commented on #85
Hi Chris - it appears to be working now, thank you.

Best,
Rory

On Thursday, 27 October 2016, chrisviderum <notifications@github.com> wrote:

[2016-10-28 14:21] klikstermkd commented on #95
@dalepotter The number of activities is not automatically populated. On the bottom of the register new dataset page, there is a field called ``Num. Activities`` which lets the user enter the number of activities manually.

@wendyrogers Regarding https://iatiregistry.org/publisher/jica which part of the dataset metadata has not been updated?

The ``IATI Harvester Script`` represents the nightly scr

[2016-10-31 09:58] wendyrogers commented on #85
Yes latest emails received have URLs that include https://www.iatiregistry.org rather than https://iatiregistry.ckan.io. Thanks

[2016-10-31 10:00] wendyrogers commented on #71
Many thanks @chrisviderum and yes the 1 hour estimate is fine for adding the validation

[2016-10-31 11:54] dalepotter commented on #76
Hi both, just a couple comments on this from a developer point of view.

1) Could we change how the field appears to users, and reduce the space in between the label and content - for example looking at https://iati-staging.ckan.io/publisher/across:
![image](https://cloud.githubusercontent.com/assets/8247168/19853247/02834bd8-9f60-11e6-8e28-0e45331b1b5a.png)

Can we change the template to use a ne

[2016-10-31 12:26] wendyrogers commented on #76
Thanks for extra comments @dalepotter . Also having carried out some testing I have identified that the publisher account holder can currently update the 'First Published date' field. This should not be the case. Only the IATI Registry administrators (and the automated update from when the first dataset is added) should be able to update this field. It should be read only for the publisher account

[2016-10-31 14:15] dalepotter commented on #95
Thanks for clarifying that this is a manual field @klikstermkd  My understanding was also that the `IATI Harvester Script` (or perhaps another process) also updates this user field too - is this correct?

If so, should the number of activities have automatically updated by now?  I've just tested and 1369 activities are still found in the dataset.

[2016-11-01 09:39] wendyrogers commented on #95
@klikstermkd re https://iatiregistry.org/publisher/jica if you look at the most recently added files such as https://iatiregistry.org/dataset/jica-089_2015 you can see that 'IATI data updated' field has not been updated. Also when viewing the the list of datasets on the publisher account eg https://iatiregistry.org/publisher/jica the new files also do not have the 'Open Data' icon set?

[2016-11-01 13:33] chrisviderum commented on #71
@wendyrogers validation should be implemented.

[2016-11-01 15:37] wendyrogers commented on #71
thanks @chrisviderum . I have now tested and validation is working but could the error message be something more specific and user friendly. So rather than 'Please match the required format' something like ' Please provide a valid email address. The email address should be for a mailbox that is regularly monitored'

[2016-11-01 15:40] klikstermkd commented on #95
@wendyrogers  The ``IATI Harvester Script`` behaves like a user, that's why it shows in the Activity tab.

Can you create new issue for missing the "Open Data" icon set?

[2016-11-01 16:12] wendyrogers opened #105 "'Open Data' Icon Missing From Recently Added Datasets"
When viewing a the list of datasets on the publisher account eg https://iatiregistry.org/publisher/jica the new files also do not have the 'Open Data' icon set?

[2016-11-01 16:15] wendyrogers commented on #95
New issue https://github.com/ViderumGlobal/ckanext-iati/issues/105 added for the missing 'Open Data' icons.

Also why is the IATI Harvester script NOT showing in the Activity Tab for https://iatiregistry.org/publisher/activity/ebrd ? They have recently updated their datasets? Thx @klikstermkd

[2016-11-02 11:16] chrisviderum commented on #95
@wendyrogers & @dalepotter :  As far as I understood @klikstermkd this should be fixed on the staging system.

Can you make a test on the staging site today? Then we can see the result tomorrow after the nightly script runs.

[2016-11-03 10:22] wendyrogers commented on #95
@chrisviderum  @klikstermkd I have run a test for this on the staging site and this looks to have now been fixed. Please can you now apply to the live site. Many thanks

[2016-11-03 17:25] chrisviderum commented on #76
@dalepotter  we have made this change according to your suggestion. Is this ready to be pushed then?

[2016-11-03 17:25] chrisviderum commented on #71
@wendyrogers we have made this change as you requested. Can we close this one then?

Then we are able to push 6 improvements to the registry!

[2016-11-14 10:07] rory09 commented on #82
Hi All,

After a couple of days of intermittent gateway timeouts and public call-outs from users I've had a look into this issue, and I believe that this is actually a bug in v2.5.2 (possibly v2.5.x) of CKAN, and so should ideally be fixed within the CKAN codebase rather than on any given instance.

My suspicions were directed by the fact that this issue has only arisen after our upgrade to the ne

[2016-11-16 14:20] chrisviderum commented on #82
Dear @rory09 , dear @dalepotter ,

Viderum's CKAN product manager brought this issue to the CKAN core developer group yesterday. I would like to summarize the feedback here:

The `all_fields` call is simply not designed to be called directly on a normal page like IATIs publisher list. It used to work in previous versions, but it will not work on modern CKANs. One of the group members worked on you

[2016-11-16 14:32] dalepotter commented on #82
Many thanks for this update @chrisviderum. Building a new database view sounds like a good way forward - yes please, let's go for this so that we can roll out a fix to this issue as soon as practical.

[2016-11-18 09:39] wendyrogers commented on #71
@chrisviderum I have now retested. However I am now getting the required error message for valid email addresses such as enquiries@beesabroad.org.uk and wendy.r@devinit.org?

[2016-11-18 13:19] chrisviderum commented on #71
Dear Wendy,

I tested it with some different email addresses and it worked fine. We will try it out and give you feedback soon.

Best,

Chris

[2016-11-21 12:59] chrisviderum commented on #71
@wendyrogers have you made you tests on iati-staging.ckan.io ?

I have tested it there for the Abt Associates publisher: https://iati-staging.ckan.io/publisher/abt

tried both email addresses and it worked. Can you give me a step by step what you are doing?

Thanks and best,

Chris

[2016-11-23 11:14] wendyrogers commented on #71
Thanks @chrisviderum . While logged in as System Admin user I am still getting an error message when trying to update email address and clicking 'Update Publisher'. See screen print
![image](https://cloud.githubusercontent.com/assets/5500787/20559740/e1518a90-b16d-11e6-9b95-b6a829f763be.png)

[2016-11-23 11:18] wendyrogers commented on #76
Thanks @chrisviderum . Please can you also confirm if any changes have been made in relation to my comment above with regard to the publisher account holder being able to update this field?

Also, did you get any further with investigating a way to upload the 'first published dates' for existing publishers?

Many thanks

[2016-11-25 17:22] dalepotter commented on #100
A fix for this issue has been deployed to the live instance of the IATI Registry. Therefore this issue is being closed.

[2016-11-25 17:22] #100 closed

[2016-11-25 17:23] dalepotter commented on #98
A fix for this issue has now been deployed to the live instance of the [IATI Registry](https://www.iatiregistry.org/).

Therefore this issue is being closed.

[2016-11-25 17:23] #98 closed

[2016-11-25 17:57] dalepotter commented on #95
@chrisviderum - have this one been deployed out of interest?

I noticed that some other issues have been deployed, so perhaps this one has too?

[2016-11-28 10:51] dalepotter commented on #72
A fix for this issue has been deployed to the live instance of the IATI Registry. Therefore this issue is being closed.

[2016-11-28 10:51] #72 closed

[2016-11-28 10:51] dalepotter commented on #73
A fix for this issue has been deployed to the live instance of the IATI Registry. Therefore this issue is being closed.

[2016-11-28 10:51] #73 closed

[2016-11-28 10:52] dalepotter commented on #74
A fix for this issue has been deployed to the live instance of the IATI Registry. Therefore this issue is being closed.

[2016-11-28 10:52] #74 closed

[2016-11-28 10:52] dalepotter commented on #81
A fix for this issue has been deployed to the live instance of the IATI Registry. Therefore this issue is being closed.

[2016-11-28 10:52] #81 closed

[2016-11-28 10:53] dalepotter commented on #85
A fix for this issue has been deployed to the live instance of the IATI Registry. Therefore this issue is being closed.

[2016-11-28 10:53] #85 closed

[2016-11-28 10:59] dalepotter commented on #105
@chrisviderum Not sure if any work was done on this one, but clicking the link supplied by @wendyrogers no longer shows this issue - perhaps it was related to the publisher's choice of data license...?

Wendy, do flag if this issue reappears.

[2016-11-28 12:22] wendyrogers commented on #105
Yes thanks @dalepotter all looks okay now

[2016-12-01 09:55] chrisviderum commented on #82
@dalepotter were you able to notice improvements of the publisher page speed? Like mentioned in an email last week we have created the new view and at least from our end it show improvements in speed and stability.

Thanks and best,

Chris

[2016-12-01 10:02] chrisviderum commented on #105
@dalepotter as far as I know we haven't done any work on this ticket, but the icons are there.

@wendyrogers do you know, if Dale suggestions could be correct?

[2016-12-01 11:57] wendyrogers commented on #105
@chrisviderum This issue appears to have been resolved now. I had assumed that it was related to the issue of the metadata not being updated which has also now been resolved.

Therefore I am happy to close this issue now.

[2016-12-01 13:32] #105 closed

[2016-12-01 13:51] chrisviderum commented on #82
@wendyrogers can I close this ticket here, too?

[2016-12-01 14:02] wendyrogers commented on #82
Fine by me but  @dalepotter okay with you?

[2016-12-02 15:05] dalepotter commented on #82
Hi @chrisviderum many thanks for your time working on this and apologies for the delay in responding to you.  Yes I can confirm that the loading time for the [Registry list of publishers page](https://iatiregistry.org/publisher) is now typically around 4-6 seconds following testing amongst the team.

As such, I'll now close this ticket.

[2016-12-02 15:05] #82 closed

[2016-12-13 12:10] chrisviderum commented on #95
@dalepotter sorry for the late response. This one is deployed, correct.

[2017-01-04 16:14] hayfield opened #110 "Google Analytics disappeared from Registry"
Google Analytics tracking on the Registry stopped working on 12th October 2016 (looking now, it's not included in the live source at all). This corresponds with the date of the [upgrade](http://www.aidtransparency.net/news/important-changes-to-the-iati-registry-api) from CKAN 2.1.4 to 2.5.2.

Looking at how [GA is included](https://github.com/ViderumGlobal/ckanext-iati/blob/master/ckanext/iati/the

[2017-01-10 11:42] pmartignoli commented on #76
Hi @wendyrogers .

Nice to meet you!  I'm Paul, a new addition to the Viderum support team.

The "first published date" field can now only be changed by admin and no longer by the publisher.

Regarding uploading the "first published dates" via an Excel file, there is a way to do this for all publishers at once using a script, which we would be very happy to create and execute.

If you have any fur

[2017-01-10 12:02] dalepotter opened #111 "Publisher page shows 'internal server error' when logged in"
When logged in, the publisher page for 'WASH Alliance International' shows an 'Internal server error': https://iatiregistry.org/publisher/wai

![image](https://cloud.githubusercontent.com/assets/8247168/21805512/6ece7174-d72c-11e6-87f1-4cf5e689f229.png)

However, then logged out, then same URL loads fine:

![image](https://cloud.githubusercontent.com/assets/8247168/21805533/8f407b82-d72c-11e6-963b

[2017-01-10 12:05] dalepotter commented on #110
@chrisviderum any thoughts on this one?

[2017-01-10 12:30] chrisviderum commented on #110
@dalepotter is there a way for you to confirm this?

We would need to log into your account to see, if the Google Analytics tracking is working correctly.

In the meantime, we can check, if config file was changed during the upgrade on the 12th October. Thank you very much for the hint @hayfield !

Best,

Chris

[2017-01-10 12:31] chrisviderum commented on #111
Dear @dalepotter,

we are taking a look at it today. I will get back to you with more information, soon.

Best,

Chris

[2017-01-10 12:54] chrisviderum commented on #111
@dalepotter this error is fixed since 5 minutes.

https://iatiregistry.org/publisher/wai

I am still talking to my team about the issue and how it occurred.

You will receive an update soon.

Best, Chris

[2017-01-10 13:51] dalepotter commented on #111
Thanks for looking into this @chrisviderum - all seems to be working now.

Will await an update and then we can close the issue.

[2017-01-10 13:56] dalepotter commented on #110
Thanks for looking into this one - here's a screenshot from our analytics account which shows a large tail off in visitors in October - i.e. around the time of the upgrade to CKAN v2.5.2

![image](https://cloud.githubusercontent.com/assets/8247168/21808713/62ef6b78-d73c-11e6-9acf-f5fc576fb540.png)

More specifically, the analytics for the past month are showing 2 users and 21 sessions, which surel

[2017-01-10 15:54] chrisviderum commented on #111
The error came up through a validation problem:

ValidationError: None - {\'publisher_contact_email\': [u\'Missing value\']}

The strange thing: It looks like the page broke during a dataset upload.

I have created a ticket at our system to analyze this, so we can leave this open at the moment.

All issues have been resolved, but I would like to check what we can do that this doesn't happen again.

[2017-01-11 12:00] pmartignoli commented on #71
Hi @wendyrogers ,
Would you please be able to check this? I have been able to add email addresses without receiving error messages.
Thanks very much!
Paul
Viderum Customer Service

[2017-01-11 12:25] PetyaKangalova commented on #76
Hi @pmartignoli  Thanks for the update.

I have now checked whether the "first published date" fix works. On the admin side, it does work and I was able to update the date for IATI publishers. However, it seems that publishers are also still able to update the date. We tested it with an existing IATI publisher (my colleague at DI) and he was able to update the date, which is what we want to avoid.

[2017-01-11 14:48] pmartignoli commented on #76
Hi Petya, Thanks for getting back to me.

Could you let me know if the "first published date" is being updated through the UI or a different method?

Thank you

[2017-01-12 10:26] pmartignoli commented on #76
Hi Petya,

Would you please be able to confirm the date format is being switched?

<img width="372" alt="screen shot 2017-01-12 at 11 19 44 am" src="https://cloud.githubusercontent.com/assets/24956197/21885814/a234eabe-d8b9-11e6-8ef8-c2120a619a3b.png">
<img width="213" alt="screen shot 2017-01-12 at 11 25 40 am" src="https://cloud.githubusercontent.com/assets/24956197/21885901/eb6412be-d8b9-11e6-9

[2017-01-12 12:49] chrisviderum commented on #76
FYI:

I just updated the publisher date for the publisher with id theglobalfund (https://iatiregistry.ckan.io/publisher/theglobalfund) and the correct date is displayed.

Is it correct on your end, too? @PetyaKangalova

Thanks for your help!

Best,

Chris

[2017-01-12 13:41] PetyaKangalova commented on #76
Hi  Paul @pmartignoli ,

On the publisher side, I actually tried again by creating a new account and the first published date is no longer available for publishers to amend, so that has been fixed. Many thanks.

With regards to date format, please see screenshots below. When I enter the date DD.MM.YYYY and then press "Update Publisher", it transfers it to MM.DD.YYYY. When I go back into the accoun

[2017-01-12 14:41] pmartignoli commented on #110
Hi @dalepotter ,
We would like to ensure this is now functioning however would require your login credentials for GA. A config file key had been overwritten which is now fixed. Would you please be able to confirm that GA is again functioning correctly?
Thanks,

Paul

[2017-01-12 15:28] PetyaKangalova commented on #76
@chrisviderum   I just checked and the publisher date for theglobalfund is correct and looks fine.

Many thanks,
Petya

[2017-01-13 08:24] pmartignoli commented on #76
Hi @PetyaKangalova ,
The issue causing the dates to switch should be fixed now. Would you please be able to check and confirm?
Thanks

[2017-01-13 09:47] PetyaKangalova commented on #76
Hi @chrisviderum ,
I just checked and it now works with the correct date format.
Many thanks,
Petya

[2017-01-16 09:10] hayfield commented on #110
GA is now working on iatiregistry.org, yep.

[2017-01-16 09:21] hayfield opened #112 "No data in Registry daily around 23:15GMT"
On a daily basis there is a period of 15-20 minutes around ~23:15GMT where no data is available in the Registry.

See https://travis-ci.org/IATI/IATI-Website-Tests/builds/192206061 for a failing test from last night. The 23:15GMT test fails on a daily basis. On a small number of occasions, the 23:30GMT test also fails.

Manual inspection of the site at this time shows that the problem is wider tha

[2017-01-18 10:49] pmartignoli commented on #112
Hi @hayfield,
We have made some changes to ensure data is available in the registry, also while the nightly script is running. Please get back to us if there are any more issues with this.
Thank you,
Paul

[2017-01-19 08:51] hayfield commented on #112
It ran overnight last night without the test failing at all, so this looks to now be sorted - thanks.

[2017-02-07 14:26] pmartignoli commented on #76
Hi @dalepotter @wendyrogers @PetyaKangalova,

The "Date First Published" field has now been added and IATI publishers updated with the Excel file provided. Can we now close this issue?

Thank you very much,
Paul

[2017-02-08 11:23] wendyrogers commented on #76
Great! Many thanks Paul. I have done a spot check of a number of publishers and the dates look correct so I will close this issue now

[2017-02-08 11:23] #76 closed

[2017-02-24 15:02] PetyaKangalova commented on #77
@chrisviderum @pmartignoli  Apologies for the delay in getting back to you on this request.  As  IATI Registry users can delete files at anytime, we would like the purge to run on a daily basis.

Let me know if you need further information and look forward to hearing back with an update on when the purge will be automated.

Many thanks,
Petya

[2017-02-24 15:42] PetyaKangalova opened #114 "Giving access to user API key on the IATI Registry"
At the moment the IATI technical team is unable to see the user API key on the IATI Registry. On a number of occasions users are unable to find where the API key is positioned. It will be really useful if the IATI technical team is also able to see the API key so that we can assist publishers, especially when they need to add the API key to their AidStream accounts.

Would it be possible to make t

[2017-02-24 16:08] PetyaKangalova opened #115 "CSV upload causing Gateway Timeout Error"
A number of users of the IATI Registry have experienced issues with the CSV upload feature and tickets have been raised seperately (#4272, #4352, #4429, #4439, #4928). While in most cases the CSV upload has worked and publishers were able to upload the files, the Gateway Timeout error remains. It will be useful to get any updates in here on how the investigation into this error is going and also c

[2017-03-24 17:17] PetyaKangalova commented on #111
@pmartignoli @chrisviderum

Hope all is well. We've just  had a new publisher and their Registry page shows with an internal server error. See screenshot below and url link: https://iatiregistry.org/publisher/skn

I presume this is again due to a missing email address for the publisher account.  Would you be able to fix by adding an email as for the ones above?
![iati_ registry_stichting kinderpos

[2017-03-28 09:50] PetyaKangalova opened #117 "IATI standard version not showing in the metadata on the Registry"
@pmartignoli @chrisviderum

We have just been contacted by a publisher notifying us that the IATI standard version is not showing in their metadata on the Registry. The version has been correctly identified in their XML file. See an example in here: https://www.iatiregistry.org/dataset/pwc-activities

This seems to be an issue affecting other publishers as well. Could you please investigate and fi

[2017-03-28 10:16] dalepotter commented on #117
Investigations by @hayfield have found that there is a config file specified in https://github.com/ViderumGlobal/ckanext-iati/commit/e9a35c7bbdadfa98eac97fad89b45f45deda4d3e which stores a list of allowed versions. This may be relevant.

If the config file does not exist a global variable is used - see https://github.com/ViderumGlobal/ckanext-iati/blob/master/ckanext/iati/archiver.py#L190-L194

I

[2017-03-28 11:54] chrisviderum commented on #117
Hey @dalepotter ,

thank you for your message.

Just to double check, the standard version in the meta data looks like this:

<iati-organisations generated-datetime="2014-09-10T07:15:37Z" version="2.02">

(Found on http://iatistandard.org/202/organisation-standard/example-xml/ )

If yes, I can confirm that this is missing at the beginning of the file. @pmartignoli will forward your pull request to

[2017-03-31 09:30] dalepotter commented on #71
@PetyaKangalova would you be able to take a look to check this on the staging site: https://iati-staging.ckan.io/

[2017-03-31 09:47] dalepotter commented on #117
Hi @chrisviderum

Just following up on this one - yes the `version` attribute would appear witin the root `<iati-organisations>` element as part of an IATI **organisation file** - for example: https://github.com/IATI/IATI-Extra-Documentation/blob/version-2.02/en/organisation-standard/organisation-standard-example-annotated.xml#L4  The documentation for this is [here](http://iatistandard.org/202/ac

[2017-03-31 09:54] PetyaKangalova commented on #71
@chrisviderum @pmartignoli @dalepotter  I just checked on the staging site and unfortunately the majority of publisher pages come up with "internal server" error. It seems to me that this relates to the "internal server error" issue #111 on  Github. Publishers that haven't added **Contact email** are not showing on the staging site.

See example screenshots below- for the same publisher I get a se

[2017-03-31 10:31] dalepotter commented on #95
As the fix for this has now been deployed, this issue can be closed.

[2017-03-31 10:31] #95 closed

[2017-03-31 12:13] PetyaKangalova commented on #111
@pmartignoli Thanks for fixing the error for the above publisher. I am aware you are currently looking at finding a sustainable fix for this error, however, in the meantime, could you please fix the error for the below publisher and let me know once done? AECOM have just published their data and people are unable to access it due to the error. Thanks!
Link in here: https://www.iatiregistry.org/pub

[2017-03-31 12:27] pmartignoli commented on #111
@PetyaKangalova, the email has been added for https://www.iatiregistry.org/publisher/aecom

[2017-03-31 12:42] PetyaKangalova commented on #111
@pmartignoli Thanks for the quick response!

[2017-04-03 12:32] visar commented on #115
We should use a background job for this: http://docs.ckan.org/en/latest/maintaining/background-tasks.html
which basically means using celery.
We can put the job in the queue: http://docs.ckan.org/en/latest/extensions/plugins-toolkit.html#ckan.plugins.toolkit.ckan.plugins.toolkit.enqueue_job and after it finishes it would take some action (i.e. notify the user that the job is finished). The biggest

[2017-04-03 13:09] dalepotter commented on #115
Thanks for looking into this @visar - @chrisviderum and @pmartignoli mentioned that this issue arises only for large CSV files. Do we know how large (size or rows of data) that the file needs to be in order to trigger the issue?

[2017-04-04 13:59] PetyaKangalova commented on #111
@pmartignoli Could an email be added to this one as well? Here is the link: https://www.iatiregistry.org/publisher/halo

![image](https://cloud.githubusercontent.com/assets/24607542/24660268/02afba22-1947-11e7-93c0-a6177b064911.png)

[2017-04-04 14:35] pmartignoli commented on #111
@PetyaKangalova. The email has been added. The publisher id was also missing for which we added publisher_iati_id=halo.

[2017-04-04 15:24] dalepotter commented on #111
@pmartignoli could I ask what email we are adding for publishers who experience this problem? Is it a fictitious email, or one that we find from the published data?

[2017-04-04 17:57] visar commented on #115
@dalepotter The csv itself might not be very large, but I think the way the uploader works is that it goes through each line of the csv and it imports as a dataset, thus hitting the timeout limit. So the issue occurs if the csv file has a lot of lines (usually hundreds of lines).

[2017-04-05 07:36] pmartignoli commented on #111
@dalepotter The emails used have all been supplied via IATI staging where this error is not occurring, or by IATI.

[2017-04-05 10:38] hayfield commented on #115
@visar As you mentioned, the uploader does [go through](https://github.com/ViderumGlobal/ckanext-iati/blob/f79857a1d54dba97a9a981380d6234512218d596/ckanext/iati/controllers/spreadsheet.py#L215) each line in a CSV file and [updates the dataset specified on each row](https://github.com/ViderumGlobal/ckanext-iati/blob/f79857a1d54dba97a9a981380d6234512218d596/ckanext/iati/controllers/spreadsheet.py#L3

[2017-04-05 12:16] hayfield commented on #111
@pmartignoli - @dalepotter has asked me to look into this given that no further information has been provided to this Github thread. It remains a high priority issue and we need to get to the root of the problem.  Additionally, a third-party developer has now reported the issue.

---

Both `publisher_iati_id` (as identified for halo) and `publisher_contact_email` (as identified as a wider problem)

[2017-04-06 16:15] pmartignoli commented on #111
@hayfield. Our developers are continuing to investigate. In the meantime can you please tell me if all new publishers are affected, and whether they are registering through a specific API?

[2017-04-06 16:58] hayfield commented on #111
@pmartignoli The log files on the Registry server should allow you to answer those questions. As far as I am aware, you have access to these logs but we do not.

[2017-04-06 19:13] mbocevski commented on #111
@hayfield Seeing this issue has been quite tricky since we haven't been able to really reproduce it either ourselves or as far as I can tell from this thread neither anyone from IATI, it's really difficult to pinpoint the problem and root cause. Also as noted we haven't even seen this issue in the staging environment which is another reason why I think that we really don't know what causes this is

[2017-04-07 10:05] dalepotter commented on #111
Thanks @mbocevski for looking into this and providing an update.

A few things to mention which might help with investigating the issue...  Up until recently, the `publisher_contact_email` field was not mandatory.

Having spoken with @PetyaKangalova it seems that the issue affects organisations who were marked as approved (i.e. marked with `State: Active`) by an administrator before the `publisher

[2017-04-12 08:58] hayfield commented on #111
@mbocevski Please can you provide an update on progress towards the suggestion made by @dalepotter of identifying those publisher's with no email present in the `publisher_contact_email` field and adding a value?

Can you also provide information on the number of publishers that require modification in such a manner?

[2017-04-12 10:22] pmartignoli commented on #111
@PetyaKangalova @dalepotter  I was under the impression this was also affecting new publishers. They were being approved and then the error occurred. Can you please confirm, or is this incorrect?

[2017-04-12 14:55] dalepotter commented on #111
Hi @pmartignoli – to clarify, this issue only seems to affect organisations who created a Registry account and who were then marked as approved (i.e. marked with `State: Active`) by an administrator before the `publisher_contact_email` field became mandatory.

It seems the 'internal server error' appears when the organisation comes to add their first dataset (i.e. they became a new publisher)

The

[2017-04-12 16:25] mbocevski commented on #111
@dalepotter As mentioned in my comment earlier we did check and migrations were run. There are some older revisions of the publishers (CKAN keeps every change to publisher metadata as a revision) where that field is empty but that should not cause any problems since it's older revisions.

As mentioned earlier in my comment, is there a reliable way we can actually reproduce this so that we can actu

[2017-04-13 08:04] hayfield commented on #111
@mbocevski As mentioned earlier in this issue https://github.com/ViderumGlobal/ckanext-iati/issues/111#issuecomment-292496680 (and I understand also in Zendesk tickets), this appears to have impacted publishers who:

* Registered and had their accounts activated before the email field became mandatory
* Published their first dataset after the email field became mandatory

If these points are corre

[2017-04-13 09:27] dalepotter commented on #111
Thanks @mbocevski for identifying `p2tp2a` as being the only publisher with no `publisher_contact_email`. I have just found an email for the user who created the publisher account, so I have added this as the publisher contact email. Therefore, this should now mean that every publisher has a `publisher_contact_email`.

In terms of the root cause, I'm afraid I'm not an expert on CKAN, so I will lea

[2017-04-13 14:10] mbocevski commented on #111
@dalepotter Sounds good. Regarding the commit style guide, unit tests etc. Those are definitely things we need to follow, but looking at the extension, code and years of different activities I would actually propose a refresh/redesign work is probably in order which will raise the quality, redesign the extension/portal based on your current use case and taking into account any new needs/requiremen

[2017-05-01 11:43] sachit-singh opened #118 "Unknown SSL protocol error 443"
Unknown SSL protocol Error 443 is thrown by the registry api. However, it has not been deterministic. We get the correct response sometimes but is very very slow. And sometimes the unknown protocol error 443 is thrown.

[2017-05-05 09:15] dalepotter commented on #77
Just to update on this one, I agree with @PetyaKangalova - a daily purge seems like a good frequency.

[2017-05-05 09:40] dalepotter commented on #115
Thanks @visar and @hayfield for providing extra clarity on this problem.  It was good to look through the code that @hayfield linked to. Whilst this does look like a reasonably straightforward loop, I can see how, for 258 datasets, making 258 requests to the CKAN api could cause a timeout.

However, I'm mindful to ensure that we have fully explored other alternatives before we add celery, particul

[2017-05-05 12:07] PetyaKangalova commented on #115
@dalepotter  @visar We haven't been contacted by other publishers encountering an error with the CSV upload so there are no additional ones to the one Hayden has provided. The frequency for publishers using the CSV upload is not very high as there are not that many publishers with large datasets.

This week [Amy](https://github.com/amy-silcock) has been in touch with an organisation that is curren

[2017-05-08 15:19] pmartignoli commented on #118
@sachit-singh. Can you please tell me which api call (calls?) you are making to produce this error?

[2017-05-08 15:32] JGulic commented on #117
Hi @dalepotter ,

I've made some changes to the code and pushed it to staging iati portal, and I've left it through the weekend so I can check if it works correctly. The version is now saved and displayed. Since everything is ok we can push this to production tomorrow.

[2017-05-08 17:34] sachit-singh commented on #118
@pmartignoli during the time of issue, the responses were very slow and at times they gave unknown ssl protocol error and the publishing took too long and failed at times. But I doubt if its a problem with the api. Its alright now.

[2017-05-08 17:34] #118 closed

[2017-05-09 13:51] pmartignoli commented on #114
@PetyaKangalova. We can make the API keys visible to all sysadmins which would require 2 hours to implement and test. If you would like us to go ahead with this please let me know. If IATI would like to limit access to user API keys to a subset of sysadmins, it would also be possible but require more work, involving creating a new role and a process for assigning users to that role, and adding a c

[2017-05-09 15:13] pmartignoli commented on #77
@dalepotter @PetyaKangalova To set this up and carry out testing would require 6 hours of work.

[2017-05-17 13:51] PetyaKangalova commented on #114
@pmartignoli  Many thanks for your response and specifying the time that it will take to undertake this task.  In terms of giving permissions to a subset of sysadmins I don't think this is necessary and I think we will be happy to go ahead with the option of all sysadmins having access to user API keys.  I suggest that you add the time to the Viderum IATI Registry Support Days Tracking and then @d

[2017-05-17 14:12] PetyaKangalova commented on #71
@pmartignoli  I just checked again a few random publishers on the staging site and Error 500- Internal server error still remains. Could you please look into this? See an example below. I works fine on the live site but the staging site still gives an error.
Link: https://iati-staging.ckan.io/publisher/ai_1064413

![image](https://cloud.githubusercontent.com/assets/24607542/26158237/22d332f0-3b13-

[2017-05-19 09:51] dalepotter commented on #77
Thanks for the update on timings @pmartignoli - let's go ahead with this one.

[2017-05-19 11:39] dalepotter commented on #114
Thanks for the update on timings @pmartignoli - yes let's go ahead with this one.

[2017-05-19 11:52] dalepotter commented on #66
Just looking at some old issues to work out next steps.

To add clarity on what this issue is, this is a feature idea to add pagination to the 'Manage my datasets' page that I see if I am a publisher of many datasets.  For example, this is what I would see if I were the viewing the edit page as `unitedstates`:

![unitedstates-datasets](https://cloud.githubusercontent.com/assets/8247168/26246584/db

[2017-05-19 11:52] dalepotter commented on #66
Having looked at this one I personally feel it won't add much benefit to paginate the results, especially since dataset names are listed alphabetically.  Therefore I'm closing this issue for now.

@PetyaKangalova @amy-silcock @hayfield @wendyrogers - feel free to reopen this issue if you think this is worth taking forwards, based on experiences with publishers.

[2017-05-19 11:52] #66 closed

[2017-05-19 11:59] dalepotter commented on #65
@PetyaKangalova @amy-silcock - could I ask that, when capacity allows, either of you investigate and come up with a proposal on how we should manage the `Country` dropdown input for the create/edit publisher pages.

I would suggest the options are:

- Keep the country dropdown list, but edit the options to only include countries (not counties and continents and subsets of continents, as at present

[2017-05-19 12:05] dalepotter opened #119 "Datasets can show multiple resources"
It seems that some datasets allow for multiple resource (i.e. data file) URLs to be added.  For example, with the [MERCY CORPS EUROPE Activity File-ET dataset](https://www.iatiregistry.org/dataset/mce-et):

![image](https://cloud.githubusercontent.com/assets/8247168/26246891/4af5ffb6-3c93-11e7-8854-8dc3ce83c716.png)

The following datasets are also affected by this issue:
- https://www.iatiregistr

[2017-05-19 12:51] JGulic commented on #119
Hi @dalepotter ,
yes, it isn’t possible to add more than one data file using the user interface, as validation prevents this; also, if the call is made from the API. We tested this and also tested out a patch and the validation doesn't allow adding more than one file. Since API calls use the functions that have this validation.

If you open the resources for the dataset, you'll notice that they ar

[2017-05-19 12:56] pmartignoli commented on #71
@PetyaKangalova, thanks for this. We will migrate the production database to staging next week, which should be beneficial for a number of reasons, including hopefully solving this issue. We will revisit this once the migration has been made.

[2017-05-22 10:49] pmartignoli commented on #94
Hi @wendyrogers @dalepotter
Two options are available, both requiring 18 hours for development and testing.
(1)We can display the publishers with a status of "pending" in the "My Publishers" page (https://iatiregistry.org/dashboard/organizations) and add an "Approved" column, or (2) create an additional page placed as a tab in the dashboard (News Feed, My Datasets, My Publishers, Pending Approval)

[2017-05-22 11:30] pmartignoli commented on #117
@dalepotter, the IATI standard version was not being saved because the data_dict value for extra values such as the iati_standard_version was set to empty. When the iati_standard_version existed in the XML file, the data was being overridden with an empty value which is why it wasn't being updated.

Changes have been made to not override the extras in the data_dictionary and the iati_standard_vers

[2017-05-22 13:03] wendyrogers commented on #94
Thank you @pmartignoli . As this function must only be available to 'Admin' users my preference would be for above option 1

[2017-05-24 15:33] pmartignoli commented on #114
@dalepotter @PetyaKangalova this is deployed. Please test and get back to me if there are any issues.

[2017-05-25 12:11] sachit-singh opened #120 "IATIRegistry API throwing an Internal Server Error[500]"
The registry update api returns Internal Server Error [500]. I don't know if its the same for the create api as well.

[2017-05-25 15:29] kmbn commented on #120
What API call are you referring to? `package_update`, `resource_update`, or one of the other update functions? And is the API returning a 500 error in general or only when you try to update a specific dataset, resource, etc.?

[2017-05-25 16:32] sachit-singh commented on #120
The `package_update` api was throwing the 500 error...I don't know what the problem was, but it is not now...for a certain time there was a problem with the api and thus I had opened up the issue. Was there any changes due to which the error might have occured. During the time of the error, no matter how may times we tried, there was a 500 error raised. But its fine now. Thank you.

[2017-05-25 16:32] #120 closed

[2017-05-26 09:20] PetyaKangalova commented on #114
@pmartignoli  Thanks for the update. Strangely, yesterday morning I wasn't able to see the API key. I just checked this morning on a few publishers and can confirm that I can now see the API key.  I will check again next week just to make sure it is working properly and will then close the issue.

[2017-05-26 09:25] PetyaKangalova commented on #94
@pmartignoli I would also support option 1 as we are already using the  "My publishers"  page to check for registered accounts, so it will be great to have two separate columns for  "Pending" and "Approved".

[2017-05-26 09:30] PetyaKangalova commented on #71
@pmartignoli  Many thanks. Let me know once done and I will be happy to test it again.

[2017-05-26 10:01] PetyaKangalova commented on #65
@dalepotter  Thanks for listing down some possible options.

 @amy-silcock and I just checked and at the moment the Registry only provides a drop-down list of countries, not counties or continents (see screenshot below)

![image](https://cloud.githubusercontent.com/assets/24607542/26490180/359e02b6-4202-11e7-909d-af094248d5c2.png)

@pmartignoli Would you be able to let us know when that change was

[2017-05-30 08:55] PetyaKangalova commented on #114
I can confirm that we can now see the user API key so I am closing this issue.

[2017-05-30 08:55] #114 closed

[2017-06-02 09:41] dalepotter commented on #117
Thanks for this update @pmartignoli and great that this is deployed to production. As such, I will now close this issue.

[2017-06-02 09:45] dalepotter commented on #119
Thanks for this detail @JGulic - I'll await to hear a further update.

I'm presuming that the changes that you suggested in your last paragraph will mean that only the latest dataset is displayed, therefore resolving this issue?

[2017-06-02 09:56] dalepotter commented on #65
@PetyaKangalova thanks for checking the status of the list against the current production version. I agree than an up-to-date list of ISO countries will be sufficient.

@pmartignoli Could you post an update on the time required to do this?  The list of countries itself is available here: https://github.com/IATI/IATI-Codelists-NonEmbedded/blob/master/xml/Country.xml

[2017-06-02 11:45] dalepotter commented on #94
@pmartignoli I agree with @wendyrogers and @PetyaKangalova - let's go ahead with option 1.

Could I suggest we add just one extra column, perhaps titled `Status`.  When completed, the table might look like this:

Publisher	Organisation | Type | HQ Country / Region | Datasets | Status
--- | --- | --- | --- | ---
1%Club | | | 0 | Approved
ACODEV | | | 0 | Approved
Acme Inc | | | 0 | Pending approval

[2017-06-02 11:58] dalepotter opened #121 "'Filter results' button not working"
On a publisher's list of datasets, clicking the `Filter Results` button does nothing. This seems to affect all publishers. An example is the [DfID publisher page](https://iatiregistry.org/publisher/dfid):

![image](https://cloud.githubusercontent.com/assets/8247168/26724701/bc86e370-4792-11e7-8cf1-ccc3f743e0ea.png)

I have tried this using Chrome version 58.0.3029.110 (64-bit and) Firefox 53.0.3 (

[2017-06-02 14:18] amy-silcock commented on #65
@PetyaKangalova @dalepotter @pmartignoli

Thinking that we also need to update the text that goes with the dropdown list to reflect that the list just contains countries and not regions

![image](https://cloud.githubusercontent.com/assets/27764077/26729760/8f7d0ee0-47a6-11e7-90c1-40a673ceeb90.png)

[2017-06-07 12:48] pmartignoli commented on #65
@dalepotter @PetyaKangalova @amy-silcock
To update the country list and text will require 3hrs to develop, test and implement. Let me know if you would like us to proceed.

[2017-06-07 13:05] pmartignoli commented on #121
This "Filter Results" button should only be visible on mobile devices or small screens. There was an issue with css classes which has been resolved.

The button functionality however is not working. As this is a CKAN core issue, we have created the following ticket and are awaiting their response. https://github.com/ckan/ckan/issues/3593

[2017-06-08 07:46] pmartignoli commented on #94
@dalepotter @PetyaKangalova @wendyrogers
This is deployed to production. Please test and let me know if there is anything further required.
https://iatiregistry.org/publisher

[2017-06-08 08:15] pmartignoli commented on #77
@wendyrogers @PetyaKangalova @dalepotter
This is tested and deployed to production

[2017-06-08 09:24] PetyaKangalova commented on #94
@pmartignoli  Thanks for informing us. I have just checked and noticed two issues:

1. We have only asked for the `Status` column to be shown on this [page](https://iatiregistry.org/dashboard/organizations) so that it is visible for admin users. There should be **no status** on the main public [Registry page](https://www.iatiregistry.org/publisher). Could this be removed as soon as possible? All p

[2017-06-08 12:13] PetyaKangalova commented on #115
@pmartignoli Just to flag in here as well that another publisher encountered the same gateway timeout error while using the CSV upload. The publisher is the World Health Organisation- link to their Registry page in [here](https://www.iatiregistry.org/publisher/who).

[2017-06-08 14:18] pmartignoli commented on #115
@PetyaKangalova @dalepotter

Following further investigation we have the same conclusion, that a background job using celery should be created to resolve this gateway timeout issue, with an estimated development and implementation time of 36 hours.

The upload time required is not solely dependant on the number of lines, but other possible factors such as traffic levels etc.

[2017-06-12 13:57] pmartignoli commented on #94
@PetyaKangalova, changes made last week were reverted. Please test the following format in staging.  https://iati-staging.ckan.io/dashboard/pending

[2017-06-14 15:39] PetyaKangalova commented on #77
@pmartignoli Thanks for letting us know. I just checked and there are no files in the "Trash" tab but I don't think there is anything else I can check to confirm that this is running properly. Are there any tests set up in place?
 @dalepotter, if you are happy with the way this is set up at the moment, please close the issue.

Thanks again,
Petya

[2017-06-14 15:56] PetyaKangalova commented on #94
@pmartignoli Many thanks for updating this in staging. I quite like that you have created a separate tab for "Pending" accounts, even though we asked for a separate column within the main "My Publisher" tab.  I am happy for you to keep it as it is at the moment (having separate tab for "Pending" accounts) as long as we make sure it is updated with any new pending accounts.

On the main "My Publish

[2017-06-15 12:30] pmartignoli commented on #94
@PetyaKangalova The pending datasets tab has been tested and deployed. Each new publisher will be displayed here once created.

CKAN core was displaying the "approval needed" publishers as "active" in the status column, and  further development would have been required.

For the two questions.

1. The two columns are empty because the helper that is used for retrieving the data is not returning th

[2017-06-23 09:15] PetyaKangalova commented on #94
@pmartignoli  Many thanks for the clarification. In response to your questions:

1.  I am not sure I understand the process for having or adding

I assumed that if the columns were there already they should be populated with data @dalepotter  would you be able to help?

2. I was referring to the main "My publisher" page. It will be great to have the organisation identifiers on both the "My Publish

[2017-06-23 11:28] dalepotter commented on #77
Thanks @pmartignoli and to your developers for implementing this.  As such I will close this issue.

[2017-06-23 11:28] #77 closed

[2017-06-23 11:40] dalepotter commented on #121
Thanks for the earlier update @pmartignoli just to add a further update the issue following our call this morning...

As you and @JGulic mentioned, a fix has now been added in line with the reported issue: ckan/ckan#3593 which is available in CKAN version 2.6.2. This version can be deployed to the staging environment, where manual checks can be done to test other functionality. This is with a view

[2017-06-23 12:53] dalepotter commented on #65
@paulsoerensen Thanks for the time estimate. Yes let's go ahead with this one.

[2017-06-23 13:49] dalepotter opened #125 "'IATI data updated' data not consistent with update dates contained within the dataset"
The British Red Cross dataset [BRC Grants to partners](https://iatiregistry.org/dataset/gb-chc-220949-activities) is reporting an 'IATI data updated' time of `2016-09-08 00:00`.

![image](https://user-images.githubusercontent.com/8247168/27484182-2adef59a-5820-11e7-9fd5-5128b3a21f6a.png)

NOTE this was manually edited by @amy-silcock this morning (in order to test the edit functionality), but befo

[2017-06-23 13:55] dalepotter commented on #117
I have been looking at the British Red Cross dataset [BRC Grants to partners](https://iatiregistry.org/dataset/gb-chc-220949-activities), which is also experiencing this issue. This may be linked to #125.

The Registry metadata shows `IATI Standard Version: -`:

![image](https://user-images.githubusercontent.com/8247168/27485171-9f34e7bc-5823-11e7-84b1-a0f994907d19.png)

However the data contained

[2017-06-23 13:59] dalepotter commented on #115
@pmartignoli As mentioned in the call this morning, let's go ahead with adding a background job, and use some of the time we have allocated for June for this.

[2017-06-27 12:51] pmartignoli opened #126 "Upgrade IATI Registry to CKAN 2.6.2"
@dalepotter
As discussed last Friday, updating the registry to 2.6.2 will be beneficial for a number of reasons and should be carried out prior to any further developments.

Below is the current plan.

1.	Upgrade staging to 2.6.2.
2.	Ensure all extensions are operating as expected.
3.	Make any required changes
4.	Add initial tests to Archiver
5.	Write initial tests for IatiPublishers
6.	Write init

[2017-06-27 13:00] pmartignoli commented on #121
@dalepotter I have opened a new issue for the 2.6.2 upgrade and propose we close this solved issue

[2017-06-27 13:20] pmartignoli commented on #115
@dalepotter, we are happy to go ahead with this, however it would make sense to carry out following the upgrade to CKAN 2.6.2.

https://github.com/ViderumGlobal/ckanext-iati/issues/126

[2017-06-30 12:05] PetyaKangalova opened #127 "IATI Registry datasets search- failed validation for File Type"
It has been flagged by users of IATI data (see Twitter discussion in [here](https://twitter.com/andylolz/status/880731702863302656)) that there is an error with Registry search page.

The [IATI Registry dataset search page](https://iatiregistry.org/dataset) currently returns multiple entries for   activities and organisations under File type. It has been identified that this is likely due to lack

[2017-07-03 11:31] amy-silcock opened #128 "No duplicate IATI org IDs"
When creating a new publisher account on the IATI Registry please can we make it so that no duplicate IATI Organisation Identifiers are allowed? This would mean accounts cannot be created that share an IATI org ID with another IATI Registry pending or active account.

This feature currently exists for Publisher IDs. It would also be good to include similar wording explaining that the IATI org ID n

[2017-07-05 08:54] PetyaKangalova commented on #127
I can see on the [ IATI Registry dataset search page](https://iatiregistry.org/dataset) that the drop down for File Type now shows correctly only activity and organisation as an option. Could you confirm whether the issue has been fixed and close it accordingly?

[2017-07-05 09:55] amy-silcock commented on #128
Hi Viderum,

Thank you for starting work on this.

One tweak needs to be made. I am trying to change a publisher account's status from 'pending' to 'active'. This is now showing:
![image](https://user-images.githubusercontent.com/27764077/27859297-2a1d95ea-6170-11e7-8738-f7595d5b7084.png)

As I understand there is only one account with this identifier. And it is this account that now needs to be m

[2017-07-06 16:05] #121 closed

[2017-07-10 13:28] amy-silcock commented on #128
Thanks for working on this. The above error is still occurring for other publisher accounts. For example I can't update the Global Alliance for TB Drug Development profile with their first published date because of the above error message.

For publisher accounts that are already active, or those whose status is going from pending to active need to be allowed to be updated.

New accounts which con

[2017-07-14 09:43] pmartignoli commented on #127
Hi @PetyaKangalova
A validation check was added for the "File type" field, meaning the existing datasets with an invalid value for the "File type" field had to be corrected. Custom scripts (for each incorrect value) were developed in order to find the datasets and replace the value. After the scripts were run and tested locally and on the staging portal, they were deployed to production.

I will c

[2017-07-14 09:43] #127 closed

[2017-07-14 13:42] dalepotter commented on #126
Thanks @pmartignoli and apologies for the delay. Yes happy to proceed with points 1 and 2.

[2017-07-14 13:58] dalepotter commented on #111
This issue to be kept open until the end of September. If no further problems related to this appear before then, it can then be regarded as fixed and we can close the issue.

[2017-07-14 15:22] amy-silcock commented on #119
This issue is still occurring for the following two publishers:
- https://www.iatiregistry.org/publisher/fco
- https://www.iatiregistry.org/publisher/mce

I have not checked to see whether it is affecting any other publishers.

New error messages have also appeared on other FCO files

[2017-07-19 16:51] newkdukem commented on #125
Updating the metadata is handled by the archiver module of the extension. In the case of 'IATI data updated', as well as 'IATI standard version' the archiver occasionally does not update the the metadata. We're still not sure what is causing this because it occurs intermittently. But we are investigating this intensively in order to find the culprit.

[2017-07-19 16:56] newkdukem commented on #115
Development for the background job is already underway and will be implemented after the CKAN 2.6.2 upgrade is done.

[2017-07-19 17:07] newkdukem commented on #117
@JGulic fix is working, however there are some datasets that are not affected by the fix (194 of them, to be exact). As in #125 we are investigating this and already have a list of possible culprits.

[2017-07-21 08:21] pmartignoli commented on #126
@dalepotter IATI has been upgraded to 2.6.2

[2017-07-21 08:30] pmartignoli commented on #111
@dalepotter @PetyaKangalova.

I have emailed an Excel  sheet containing a list of 443 publishers with no contact email address. It has the name and id of the publisher, whether they've published a dataset or not.

If you are able to fill in the publisher_contact_email column, we can handle the updates from there.

This will ensure there will be no further server errors due to missing emails (final

[2017-07-21 08:31] pmartignoli commented on #71
@PetyaKangalova  @dalepotter
I have emailed an Excel sheet containing a list of 443 publishers with no contact email address. It has the name and id of the publisher, whether they've published a dataset or not.

If you are able to fill in the publisher_contact_email column, we can handle the updates from there.

This will ensure there will be no further server errors due to missing emails (finally

[2017-07-24 13:25] amy-silcock commented on #128
Hi,

Today we've had a publisher set up an account with a duplicate Organisation ID to a previous account. There are reasons as to why they have done so, but this should now not be allowed by the registry.

![image](https://user-images.githubusercontent.com/27764077/28525356-d87f5b68-707b-11e7-8f7e-b93d0a1d7996.png)

[2017-07-25 09:23] pmartignoli commented on #128
@amy-silcock

Creating a publisher with the same IATI ID as another publisher is blocked, editing an existing publisher to have the same ID as another publisher is blocked, but just editing a publisher that has an IATI ID (like changing it's state as in Amy's example) is permitted.

Publishers that currently have empty IATI ID fields can still be edited--you just have to give them an IATI ID. Publ

[2017-07-26 08:13] amy-silcock commented on #128
@pmartignoli

In the case above a new publisher account was set up. You can currently access both publisher accounts.

Publisher ID:
- unesco-ihe
- ihedelft

[2017-07-26 08:34] kmbn commented on #128
@amy-silcock Perhaps there's been a misunderstanding. @pmartignoli meant that the validation he described is now in effect as of yesterday.

The new publisher account you're referring to was created before the updated validation came into effect. So you can access both of those accounts, and you can also access two other accounts that share a Publisher ID (`humana_houben` and `simone_sympany`, whi

[2017-07-26 09:44] amy-silcock commented on #128
@kmbn  @pmartignoli

Just to clarify

1) We are talking about IATI Organisational ID's not Publisher ID's here
2) The previous issues have been resolved, the only outstanding one is to do with organisations ihedelft & unesco-ihe
3) The current issue is a new publisher account (ihedelft) was set up yesterday containing the same IATI org ID as another publisher account which is already publishing:
!

[2017-07-26 09:51] kmbn commented on #128
Sorry, I didn't keep my nomenclature straight when writing my previous comment. We're both talking about, in this case, Identifier NL-KVK-41146484, correct? If so, just reread my previous comment with and replace all my mentions of Publisher ID with IATI org ID. (I'm sorry for the misunderstanding.) IHE Delft registered while the IATI org ID validation was turned off to deal with the fact the you

[2017-07-26 15:52] amy-silcock commented on #128
Good to know that this should be fixed @kmbn

I'm guessing it took longer than expected to turn the validation back on once the previous error occurred?

[2017-07-28 13:36] kmbn commented on #128
`unesco-ihe` now redirects to `ihedelft`. In the future it would be a good idea to move the publisher and dataset redirects to the config file or possibly to an interface that sysadmins can update on their own.

[2017-07-31 12:39] kmbn commented on #119
@amy-silcock Regarding the publisher `fco`, action is required on the part of the publisher, or perhaps of IATI itself. The `Xml error` messages that are displayed for some of the datasets are occurring because the Data File URLs do not point to XML files anymore. The extra resources that some of the other `fco` datasets display also seem to be related to this issue.

It seems like the gov.uk has

[2017-07-31 12:50] kmbn commented on #119
There was one dataset for the publisher `mce` that had multiple resources. The dataset itself had an invalid name (`mcs-iq` rather than `mce-iq`, as per the rules for dataset names) that seems to have existed before that field was validated. As a result, attempts to automatically update thata dataset were failing. After correcting the dataset name, updating the dataset was successful and it only h

[2017-08-02 09:22] PetyaKangalova commented on #125
@newkdukem Thanks for the update.

I have been contacted by UNICEF with question about 'IATI data updated' which is not showing correctly. I know that this is an on-going issue that you re investigating, but wanted to check whether you can fix the metadata update for [UNICEF](https://www.iatiregistry.org/publisher/unicef) and can also use it as an example for your investigation and hopefully shed

[2017-08-04 10:33] dalepotter commented on #115
@newkdukem in an update call, you mentioned that you were looking for a sample (valid and invalid) CSV file for testing.

@pmartignoli mentioned that he has one of these already and you would send this to @newkdukem direct. From this valid version, changes could be made to make it invalid, and used for testing later.

[2017-08-04 11:16] dalepotter commented on #126
As both the [staging](https://iati-staging.ckan.io/api/3/action/status_show) and [production](https://iatiregistry.org/api/3/action/status_show) instances have been upgraded to CKAN 2.6.2, this issue can now be closed.

![image](https://user-images.githubusercontent.com/8247168/28966548-b1ce38f4-790e-11e7-88b8-de9b6ef0c153.png)

[2017-08-04 11:16] #126 closed

[2017-08-04 18:42] andylolz commented on #126
I don’t know if it’s useful to do something [similar to this](http://www.aidtransparency.net/news/important-changes-to-the-iati-registry-api) to let registry API users know about this change? (albeit retrospectively.)

Just checking [the changelog](http://docs.ckan.org/en/latest/changelog.html), I notice 2.6.2 isn’t listed… Looks like there’s never a changelog provided for old point versions.

[2017-08-07 09:27] kmbn opened #130 "`Confirm Delete` button for deleting a publisher does not work"
The `Confirm Delete` button for deleting a publisher (see `https://iatiregistry.org/publisher/delete/{publisher-name}`) does not work. The issue is related to renaming CKAN organizations to publishers. The `organization-confirm-delete-form` posts the confirmation with the action `/organization/delete/{publisher-name}`. While code does exist on the backend to remap `/organization...` to `/publisher

[2017-08-07 11:41] pmartignoli commented on #71
@PetyaKangalova.
Following on from our call last Friday regarding placeholders being added for publishers with missing email fields.

In October 2016, the following pull-request was made:

https://github.com/ViderumGlobal/ckanext-iati/pull/97/commits/422ac73ed35710477de0859bb42dc4fd8d59c687

This pull request adds placeholder text ('Email not found') to the publisher email field that users see whe

[2017-08-07 23:17] newkdukem commented on #126
@andylolz I believe that the changelog for [2.6.2](http://docs.ckan.org/en/ckan-2.6.3/changelog.html#v2-6-2-2017-03-22) is placed under the 2.6.3 one. By my understanding, the changelogs are categorized in major releases (eg. 2.6 or 2.7).

[2017-08-07 23:17] newkdukem commented on #119
This issue is still under investigation. We will update if any new information are discovered.

[2017-08-07 23:17] newkdukem commented on #115
@dalepotter thank you for the info.
Also, the rework of the CSV upload is under way. Expected deployment on the staging portal is expected before the end of the week.

[2017-08-07 23:17] newkdukem commented on #125
@PetyaKangalova a solution for the inconsistent 'IATI data updated' metadata is under development. I will provide additional comments concerning the status.

[2017-08-08 07:39] #130 closed

[2017-08-08 14:27] PetyaKangalova opened #132 "IATI Registry user accounts- new button for regenerating API key"
I have just noticed that there is a new feature in the IATI Registry user account section allowing admins to re-set password (which is indeed useful). There is also a new button allowing regeneration of API Key.

This is not an issue in itself and a low priority in the list, but mainly a question to understand when the new feature was added (see screenshot below).

Many thanks,
Petya

![image](htt

[2017-08-08 14:37] andylolz commented on #126
Aha! That’s useful to know. Thanks, @newkdukem.

[2017-08-18 15:02] PetyaKangalova commented on #71
@pmartignoli  Thanks for the clarification.  Yes, what we want to is to have a placeholder text for **all** publisher accounts where there is **no** Contact Email for publisher (see below).

![image](https://user-images.githubusercontent.com/24607542/29464282-5bfd1f2e-842d-11e7-96aa-216a0192ff7d.png)
What I don't understand is why there are still publishers with no placeholder text if the pull-req

[2017-08-21 08:58] newkdukem commented on #132
@PetyaKangalova As far as I know this is a regular CKAN behaviour. I have checked the change-log for CKAN v2.6.x and didn't find differences on that part of CKAN.
What I've found helpful is that this feature is in the [documentation](http://docs.ckan.org/en/ckan-2.2.3/sysadmin-guide.html#managing-users) for CKAN v2.2.3

[2017-09-15 11:19] newkdukem commented on #119
The cause of this was that old datasets that were not purged and were wrongfully marked as active. The multiple resource validation is working properly.
The multiple resource datasets were dealt with since and will no longer happen in the future.

[2017-09-15 11:20] #119 closed

[2017-09-18 09:48] newkdukem opened #135 "Move publisher and dataset redirects to a config file or in the sysadmin interface"
As mentioned in https://github.com/ViderumGlobal/ckanext-iati/issues/128#issuecomment-318653637 it would be a good idea to move the redirects for dataset and publisher from the [plugins.py](https://github.com/ViderumGlobal/ckanext-iati/blob/master/ckanext/iati/plugins.py) file, to a separate configuration file or as an sysadmin interface.
The pro in adding a sysadmin web interface over the configu

[2017-09-18 09:49] newkdukem commented on #128
The duplicate IATI org IDs validation has been developed and deployed on production.
Regarding the last comment from @kmbn, about publisher and dataset redirects, a new issue has been created https://github.com/ViderumGlobal/ckanext-iati/issues/135

[2017-09-18 09:49] #128 closed

[2017-09-18 12:07] newkdukem commented on #132
@PetyaKangalova If there are no additional information required, regarding the "Regenerate API Key" button, is it OK to close this issue?

[2017-09-18 14:41] amy-silcock commented on #135
That sounds good, particularly having it on the sysadmin interface. Could you please explain more about what this would look like and involve our end?

@dalepotter do you have views on this?

[2017-09-20 11:05] PetyaKangalova commented on #125
@newkdukem Has there been any progress with this issue? We continue getting emails from publishers asking about the IATI data updated.

Many thanks,
Petya

[2017-09-20 11:11] PetyaKangalova commented on #132
@newkdukem Many thanks for the update and letting me know that this is part of regular CKAN behaviour. I will close the issue now.

[2017-09-20 11:11] #132 closed

[2017-09-20 11:42] PetyaKangalova opened #137 "Add a column with IATI Organisation Identifiers for all IATI publishers"
Could I check whether it will be possible to add a new column to [summary Publisher page](https://www.iatiregistry.org/publisher) and an estimate of the time involved to implement the change?

We would like to be able to see the IATI Organisation Identifier in a column for each publisher **after the publisher name.** See screenshot below

![image](https://user-images.githubusercontent.com/24607542

[2017-09-26 14:44] dalepotter commented on #110
Sadly this issue has cropped up again, and since early July.

![image](https://user-images.githubusercontent.com/8247168/30866345-e19fef8c-a2d0-11e7-8d5c-3f47e08fe54a.png)

There is no sign of any google analytics tracking code in the Registry HTML.

How has this occurred?  It's quite frustrating that this has cropped up again, as we have now lost all tracking information for these months. An inte

[2017-09-29 12:40] newkdukem commented on #110
A fix was deployed on the portal. The google analytics tracking code now is displayed near the bottom of the page.  @dalepotter can you confirm that now there is information for activities on the GA dashboard?

[2017-09-29 13:17] newkdukem commented on #117
A postmortem report: the iati-archiver which is responsible for updating the metadata (in this case, the "IATI Standard Version") was working properly. However, the schema was not properly updated in [plugins.py](https://github.com/ViderumGlobal/ckanext-iati/blob/master/ckanext/iati/plugins.py), causing to leave the field blank when modified via web.
The fix is currently on the [staging portal](ht

[2017-09-29 14:28] newkdukem commented on #115
The CSV upload changes are been made and deployed and tested on the staging portal. The celery version is tested with a file that previously gave "Gateway Timeout Error".
Edge cases that are covered and tested:
- new line in middle of an entry in the CSV file
- extra or columns missing
- a non CSV file uploaded
- wrong encoding in the CSV file
- non-existing publishers
All of the mentioned edge ca

[2017-10-01 19:58] newkdukem commented on #125
Changes were made on the staging portal and the iati-archiver was manually run. The metadata should now be consistent with the actual xml files.

[2017-10-02 10:25] newkdukem commented on #137
This feature is added on the staging portal and waiting for approval.

[2017-10-02 23:02] andylolz commented on #125
Worth noting (I didn’t know this, anyway) that the `generated-datetime` is *not* the thing that’s used here for the “IATI data updated” metadata. Instead, it’s the most recent `last-updated-datetime` for an `iati-activity` or `iati-organisation`.

[2017-10-03 08:25] newkdukem commented on #125
@andylolz correct, and in the previously mentioned [xml](http://www.redcross.org.uk/%7E/media/BritishRedCross/Documents/Where%20we%20work/BRC-iati-all-6-9-2016.xml), there is no `last-updated-datetime` field.

[2017-10-03 09:23] andylolz commented on #125
Good spot, yes! And the UNICEF example [mentioned above](https://github.com/ViderumGlobal/ckanext-iati/issues/125#issuecomment-319618326) is [correct on staging](https://iati-staging.ckan.io/dataset/unicef-afghanistan) – 2017-09-05T00:00:00 is the most recent `last-updated-datetime`.

I’m just running a script to check the rest. I’ve submitted one small pull request (#140) that makes a tiny tweak

[2017-10-04 06:13] andylolz commented on #125
I compared the ‘IATI data updated’ timestamps with the `last-updated-datetime`s in IATI data from the *live* registry (which I happened to have a local copy of). So not [apples and oranges](https://en.wikipedia.org/wiki/Apples_and_oranges), but not apples and apples either.

They overwhelmingly match (roughly 4267/4449 correct), but there’s still a few errors in there. For instance, there’s a bunc

[2017-10-04 11:27] amy-silcock opened #141 "IATI Registry - Publisher List"
Hi Viderum,

We've noticed an error with the Registry Publisher page. If you use the URL https://www.iatiregistry.org/publisher then the ability to sort the columns disappears. The list of publishers is also no longer in alphabetical order, with the names starting in lower case being at the bottom of the list.

These errors are not present when using the URL without the www: https://iatiregistry.o

[2017-10-04 14:50] andylolz commented on #117
It looks like the `iati.standard_versions` config setting that’s referenced here:
https://github.com/ViderumGlobal/ckanext-iati/blob/f6539246169597e874cf0e4ade83e2268724a2fd/ckanext/iati/archiver.py#L191

…needs to be updated to include 1.01 and 2.02 – all datasets that use these versions are currently being marked as “n/a” in the `iati_version` metadata. (Alternatively, if you remove the setting

[2017-10-04 15:37] amy-silcock commented on #117
Great @andylolz , thanks for looking into this! @newkdukem and Viderum would you be able to follow up on this please?

[2017-10-04 15:38] amy-silcock commented on #125
Great @andylolz , thanks again for looking into this! @newkdukem and Viderum would you be able to follow up on this please?

[2017-10-05 07:43] andylolz commented on #135
These redirects are a bit questionable! A bunch of the dataset redirects are broken anyway (in the sense that they redirect to a 404.)

 * https://iatiregistry.org/dataset/minbuza_activities (broken :cry:)
 * https://iatiregistry.org/dataset/ciuk-org (broken :cry:)
 * https://iatiregistry.org/dataset/uncdf-org (broken :cry:)
 * https://iatiregistry.org/dataset/plan_uk-org210613 (broken :cry:)
 * h

[2017-10-05 09:50] PetyaKangalova commented on #65
Hi everyone,

I know this is currently on the Medium priority list. Just to say that there are two places where the country list needs to be updated:
1. Main publisher page (what was discussed so far)
2. Each individual data file page- see example below and in [here](https://www.iatiregistry.org/dataset/edit/unicef-afghanistan).

![image](https://user-images.githubusercontent.com/24607542/31220647

[2017-10-05 12:18] minnaholi commented on #141
@amy-silcock

The fix has been applied. Please check that everything looks fine now.

[2017-10-05 12:19] amy-silcock commented on #141
@minnaholi

Thanks Minna. It looks fine now.

[2017-10-05 13:12] newkdukem commented on #125
Thank you @andylolz for the PR. This is merged and deployed on the staging portal now.

[2017-10-06 07:53] andylolz commented on #141
It’s not at all clear what happened here! I don’t see any related commits to this repo… Did you restart something?

[Fwiw I wasn’t able to reproduce the bug when I checked on 2017-10-04.]

Sorry to weigh in on this… But it’s always so great when past issues are able to provide a useful reference, to understand what when wrong and how the problem was resolved. Otherwise you end up in this situation

[2017-10-06 08:51] JGulic commented on #65
@PetyaKangalova can you confirm that you want to combine the Country and Region codelists, so they will be displayed in the Country dropdown in the publisher page and the data file page?
Currently the Country codelist dropdown available on production (on publisher page as well as the one in data file page) is using the list [here](https://github.com/IATI/IATI-Codelists-NonEmbedded/blob/master/xml/

[2017-10-06 13:48] dalepotter commented on #125
Thanks for the update @newkdukem - I've just looked at staging portal for the British Red Cross dataset that was originally used to demonstrate this problem. However it seems that this is not yet fixed.

The [staging portal](https://iati-staging.ckan.io/dataset/gb-chc-220949-activities) shows:

![image](https://user-images.githubusercontent.com/8247168/31280764-54845e3a-aaa5-11e7-983e-0e8d066520b1

[2017-10-06 13:57] dalepotter commented on #115
I've just tested for the first time with this [csv file](https://www.dropbox.com/s/zj7r0z63tlan8md/template%20%281%29.csv?dl=0) and I get this error:

Is this expected?

[2017-10-06 14:01] dalepotter commented on #110
The analytics for the site are now visible in Google analytics, so I will close this issue.

Thanks for fixing @newkdukem

[2017-10-06 14:10] dalepotter commented on #110
Also, forgot to mention - did we find out anything more about what caused this issue?

[2017-10-06 14:22] dalepotter commented on #141
Thanks for posting this @andylolz - I raised this point when we spoke with @minnaholi yesterday, so would be good to add the extra context.

N.B. We also spoke about the need for code change commits that are related to issues to be tagged to those issues, in line with the [contributing guide for the repository](https://github.com/ViderumGlobal/ckanext-iati/blob/master/CONTRIBUTING.rst).

[2017-10-06 21:31] andylolz commented on #125
@dalepotter: That’s because of this: https://github.com/ViderumGlobal/ckanext-iati/issues/125#issuecomment-333689554. @newkdukem spotted that that BRC dataset doesn’t contain any `last-updated-datetime`s, so that’s why the data updated date hasn’t changed. https://github.com/ViderumGlobal/ckanext-iati/issues/125#issuecomment-333774219.

[2017-10-10 15:39] PetyaKangalova commented on #65
@JGulic thanks for your response and letting us know that the country list has been updated.

On the region codelist, I need to check with the IATI tech team first whether we can go ahead with the region codelist I have suggested.  I will let you know next week how we would like to proceed.

[2017-10-11 14:41] amy-silcock commented on #111
This issue is still ongoing.

The most recent example of an organisation who published today for the first time: https://iatiregistry.org/publisher/unais

There is no e-mail address on their publisher account

[2017-10-13 14:37] dalepotter commented on #65
Thanks @JGulic and @PetyaKangalova for working on this one. With regards to the region codelist, we have discussed this within the team and we're going to mark this as 'on hold' for the time being, so no action is needed at the moment.

Ultimately though, we will probably review the process of asking publishers to manually enter metadata. - it probably makes more sense to add this type of thing to

[2017-10-17 08:33] hayfield commented on #125
[As noted](https://github.com/IATI/IATI-Datastore/issues/268#issuecomment-337123175) by @markbrough in IATI/IATI-Datastore#268, the [Netherlands Ministry of Foreign Affairs activities file 2016-2017](https://iatiregistry.org/dataset/minbuza_nl-activities20162017) does not have the correct metadata. The data file does, however, contain the attributes noted by @andylolz in https://github.com/Viderum

[2017-10-17 09:49] andylolz commented on #125
@hayfield did you read https://github.com/ViderumGlobal/ckanext-iati/issues/125#issuecomment-334059352? I did an exhaustive check of the timestamps on the staging site, and posted my findings there.

[2017-10-18 11:31] andylolz commented on #125
I did a full download of data from staging, and for each dataset, compared the maximum `last-updated-datetime` in the data with the one on the staging registry. There were only 30 occasions where these didn’t match:
https://gist.github.com/andylolz/00d6a98eb9de48df557350b0682ae252

At least some of these are due to dodgy data e.g. dates in the future, which [the archiver ignores](https://github.co

[2017-10-18 13:25] JGulic commented on #141
@dalepotter this issue is not connected with this repository, so there isn't a commit that we can point to in order to make things more clear.
This issue appeared because CKAN by default supports setting up only one site_url variable in the configuration file, on which it relies for many features (especially in the front-end), also many CKAN features that need an absolute URL are using the site_ur

[2017-10-18 14:40] JGulic commented on #115
@dalepotter did you created the csv file on Mac OS?
When saving a csv file on Mac OS, Windows etc, there is additional carriage that is added at the end of the file which is not visible if you just open the file. The error that you are getting is because of this additional carriage in the csv file that you are trying to test. We've already handled Windows files but we didn't noticed that this can

[2017-10-18 14:59] JGulic commented on #125
The archiver that is running on the staging portal has the latest code changes that were made in order to resolve the issues with the metadata (like IATI date updated, or IATI standard version).
These changes are not deployed on production and that is the reason that there are inconsistencies with the metadata on the staging and the production portal.
I would agree that we need to push the code ch

[2017-10-18 15:13] andylolz commented on #125
Just to note: in https://github.com/ViderumGlobal/ckanext-iati/issues/125#issuecomment-337561248 I’m comparing staging with staging, not staging with production. I don’t know what the explanation for the inconsistencies are here, but there are very few inconsistencies.

[2017-10-18 15:14] JGulic commented on #117
The configuration file on the staging portal contains the correct IATI version's that are available in the link. The changes to iati.standard_versions on the staging portal were made and deployed along with the changes for the IATI Standard Version metadata code changes.
@dalepotter @amy-silcock we would need your approval in order to push these changes to production

[2017-10-19 08:13] JGulic commented on #110
@dalepotter this issue was caused by an variable inccorectly set in configuration file. Setting the variable to correct value in the configuration file fixed this issue

[2017-10-23 12:11] dalepotter commented on #125
@JGulic yes please do deploy to production as soon as you can. For bug fixes such as this I would suggest standard practice should be to deploy straight to production.

[2017-10-23 12:13] dalepotter commented on #117
@JGulic yes let's deploy to production.

[2017-10-23 12:17] dalepotter commented on #137
@PetyaKangalova or @amy-silcock could you do a manual test for this to confirm if the functionality appears as intended?

[2017-10-23 12:40] PetyaKangalova commented on #137
@dalepotter @newkdukem  I checked the list on [staging](https://iati-staging.ckan.io/publisher) and can confirm that the functionality appears as we have requested. I will be happy for this to be deployed to production.

One very small edit is to change the name from

to

(remove the 's' as it refers to each individual publisher's identifier).

![image](https://user-images.githubusercontent.com/24

[2017-10-23 12:53] dalepotter commented on #115
@JGulic Thanks for the clarification. Yes the file was created using OS X Yosemite (v10.10.5), using LibreOffice.

Great that you have a fix in progress, though given that Macs have [between 5-10% market share](https://www.digitaltrends.com/apple/mac-market-share-drops-to-five-year-low/) I would have thought that a CSV file created by this operating system would be an expected use case in the begi

[2017-10-23 15:39] andylolz commented on #115
The file in question has CR line endings, which is the quite old Mac way of doing things (these days, OSX uses LF line endings; windows uses CRLF). I’m not sure why LibreOffice generated that.

I would say:

1. This is probably pretty edge case
2. It’s arguable whether this should be considered valid CSV at all, given [RFC 4180](https://tools.ietf.org/html/rfc4180) suggests CRLF are the only valid

[2017-10-24 14:40] andylolz commented on #125
@JGulic is this live now?

I just checked and the issue still exists on the live registry… But not sure if that’s because a) the change hasn’t been pushed yet, or b) the archiver hasn’t run yet.

[2017-10-25 14:05] JGulic commented on #141
@dalepotter I am closing this issue

[2017-10-25 14:05] #141 closed

[2017-10-25 14:17] andylolz commented on #125
@JGulic @newkdukem bump – what’s the status on this?

I ask because this is a dependency for the IATI datastore, and it’s currently causing it to be very broken, which in turn is having an adverse affect on partner country aid management systems.

I tested again today, and I’m still seeing weird “IATI data updated” dates in the metadata on the production registry, that don’t match the underlying d

[2017-10-25 14:47] JGulic commented on #125
@andylolz we are preparing the changes for production and retesting everything again, before we move there. We want to make sure that once the update is setup on production everything will run smoothly and there will be no problems anymore with the issues that we were having.
When the deployment process is done I'll post a comment here to let everyone know about it.

[2017-10-27 13:21] andylolz commented on #125
Thanks @JGulic – that makes a lot of sense. When do you think that will be done? Do you have an ETA for pushing this live? Thanks!

[2017-10-27 13:41] JGulic commented on #125
@andylolz everything should be ready and setup on production by Monday afternoon

[2017-10-30 09:41] JGulic commented on #125
@dalepotter the code is setup on production and it has successfully passed during the weekend and updated the resources. @andylolz you can let us know if everything is working good with the IATI Datastore

[2017-10-30 09:42] JGulic commented on #117
@dalepotter the code has been deployed to production, successfully ran this weekend and updated the standard version to the resources that didn't had the correct one.
Let us know if everything is ok, so we can close this issue

[2017-10-30 09:44] JGulic commented on #115
@dalepotter the CSV upload has been pushed to production and tested out. The fix for the file that you've tested is missing on production, but we'll deploy that soon.
We've tested this out and we didn't encountered any problems.
You can test it and let us know if everything works as expected.

[2017-10-30 09:45] JGulic commented on #110
@dalepotter I think we should close this issue, since it has already been resolved

[2017-10-30 10:02] andylolz commented on #125
Don’t know about the IATI Datastore yet, but I can tell you that the dates in the registry metadata look fixed! :tada: :tada: :tada:

[2017-10-30 11:04] andylolz commented on #117
There’s a bunch that are still wrong. Here’s a list (but note that the dataset data used here is a few days out of date).

dataset version | registry version | dataset URL | dataset name
----------------|------------------|----------|-------------
1.03 | n/a | https://iatiregistry.org/dataset/af-14 | af-14
1.03 | n/a | https://iatiregistry.org/dataset/ics-41188664 | ics-41188664
1.03 | n/a | https

[2017-10-30 13:51] JGulic commented on #117
@andylolz I've added reasons why the archiver failed in the cases

dataset version | registry version | dataset URL | dataset name | Reason for fail of archiver
-- | -- | -- | -- | --
1.03 | n/a | https://iatiregistry.org/dataset/af-14 | af-14 | Wrong file type
1.03 | n/a | https://iatiregistry.org/dataset/ics-41188664 | ics-41188664 | Wrong file type
1.03 | n/a | https://iatiregistry.org/dataset/

[2017-10-30 14:37] andylolz commented on #117
Great! That explains most of the issues.

I don’t understand this validation error at all. What does it refer to?

So it sounds like you’re saying: auto-update the filetype (Organisation/Activity) in the IATI registry metadata, according to the contents of the file.

I think this would be excellent – as a publisher, I don’t understand why I’m asked to set or manage information about filetype at al

[2017-10-30 15:02] JGulic commented on #71
@PetyaKangalova @dalepotter we've created a script that goes through all the publisher's and inserts a 'Email Not Found' placeholder if the publisher doesn't have an email address. We've run it successfully on staging and you can check out the publishers there.
If everything is ok for you with this, we can move it to production.

[2017-10-30 15:07] JGulic commented on #117
@andylolz the validation error appears because the dataset name is not following the publisher-code, in the above example the resource name should have been: said-uk-org.

And yes, to avoid the 'wrong file type' errors the script will run through the registry and correct the file type according to the resource.

[2017-10-30 15:36] JGulic commented on #137
@PetyaKangalova @dalepotter this has been setup on production.
check it out and if everything is ok, close the issue

[2017-10-30 15:41] andylolz commented on #117
Aha! So if I understand correctly, the dataset name should be prefixed by the organisation name? In the case of `said-uk`, the error makes sense. But in the case of `nl-kvk-54436222-27541-nl` and `ec-devco-ec`, I’m not sure what the issue is. But apologies if I’m missing something!

[2017-10-30 16:01] PetyaKangalova commented on #137
@JGulic @andylolz  Many thanks for working on this issue. I have now checked on production and all looks fine, so closing the issue now.

[2017-10-30 16:01] #137 closed

[2017-10-30 16:53] PetyaKangalova commented on #71
@JGulic Could you please refer me to the repository where you have created the script? I can only identify an old one in [here](https://github.com/ViderumGlobal/ckanext-iati/commit/422ac73ed35710477de0859bb42dc4fd8d59c687) and I am sure there is a newer one who have written.

Could you also let me know if you have done some testing on your side for this specific script? I have done one or two manu

[2017-10-31 12:18] PetyaKangalova commented on #125
@JGulic  I have been contacted by a publisher- [Asian Development Bank](https://www.iatiregistry.org/publisher/asdb)- asking why the dates have not updated? See screenshots below.

![image](https://user-images.githubusercontent.com/24607542/32223110-05c0e1c2-be34-11e7-8021-f0865bfa04db.png)
![image](https://user-images.githubusercontent.com/24607542/32223089-ed888b78-be33-11e7-92de-c76dfd1f30b2.pn

[2017-10-31 14:02] andylolz commented on #125
@PetyaKangalova: The date shown in the registry metadata is not the one you highlight – it’s this one:

![screen shot 2017-10-31 at 13 47 15](https://user-images.githubusercontent.com/464193/32227205-9db3213a-be42-11e7-810d-db224dffe417.png)

That is: it’s the most recent `last-updated-datetime` for a `iati-activity`. That’s by design: i.e. it’s working as expected (for some definition of “expecte

[2017-10-31 18:55] andylolz opened #148 "TTFB on `/publisher` is really high"
The ‘visits’ to ‘updates’ ratio of `/publisher` is probably really high, i.e. many people visit that page compared to how often the content changes. This makes it an ideal candidate for caching! But currently, the time to first byte (TTFB) is something like 5 seconds – suggesting there’s a lot of server-side processing going on, and probably nothing is cached.

Obviously this is not a priority iss

[2017-11-01 09:08] hayfield commented on #112
There has been a regression, which means this is occurring again (this time around 00:00 GMT).

From last night: [failing test 1](https://travis-ci.org/IATI/IATI-Website-Tests/builds/295545021), [failing test 2](https://travis-ci.org/IATI/IATI-Website-Tests/builds/295548426), [passing test](https://travis-ci.org/IATI/IATI-Website-Tests/builds/295551440).

[2017-11-01 10:20] PetyaKangalova commented on #125
@andylolz  Thanks for this and I indeed noticed that it was confusion on my side before responding to the Asian Development Bank. Apologies for not updating the Github post straightaway. I agree that we need agreement on what the date is for.  In my experience so far, the **IATI data updated** date  is mainly used by publishers who want to make sure and check that their data has successfully updat

[2017-11-01 10:28] JGulic commented on #71
@PetyaKangalova the new script is [here](https://github.com/ViderumGlobal/ckanext-iati/blob/publishers-email-script/scripts/fill_empty_publisher_emails.py), not merged to master yet.

As I mentioned before, the script goes through every publisher in the registry and checks if the publisher has an email address. If there isn't an email address the script will insert 'Email Not Found' in the email f

[2017-11-01 10:33] dalepotter commented on #112
@minnaholi I've marked this one as 'high priority', but this is actually quite urgent to resolve once again. A lot of the automated IATI download bots are set to their work around midnight, so they will receive no data at all.  We suspect this may be causing some issues for downstream systems.  For example, the [d-portal](http://d-portal.org/) site is only showing two publishers at present:

![ima

[2017-11-01 11:52] goranmaxim commented on #112
During maintenance, the reindexing operation was set to run a few hours before it was supposed to, which resulted in this "gap" time where data was unavailable. After purging, the reindexing job runs for ~20 minutes, after which all data should be up to date. We've now set & documented the cron job running times.

[2017-11-01 11:55] dalepotter commented on #112
Thanks for the update @goranmaxim we'll keep this issue open for a few days to check that there are no further failing tests.

[2017-11-01 12:33] JGulic commented on #125
@PetyaKangalova this is connected with the way the archiver runs. While the archiver is going through the datasets, it checks the resources. We are keeping a hash to the resource, and we are checking against this hash if the resource has been updated or not. If the resource stayed the same, there is no data to be updated, the archiver skips the updating of the package hence the date in IATI regist

[2017-11-01 15:39] JGulic commented on #117
@andylolz yes the dataset should be prefixed with the organization name.
In the case od nl-kvk-54436222-27541-nl and ec-devco-ec the problem is that is using part of the organization name. So I am guessing that these datasets were created before this validation has been added to the code.
The validation that does this is [here](https://github.com/ViderumGlobal/ckanext-iati/blob/master/ckanext/iati

[2017-11-01 16:03] andylolz opened #149 "Validator fails for the (valid) dataset name `ec-devco-ec`"
This dataset name is considered invalid:
https://iatiregistry.org/dataset/ec-devco-ec

That’s due to the second clause in this conditional:
https://github.com/ViderumGlobal/ckanext-iati/blob/caec677ee668b026b972be73f7edadb8fbe8f985/ckanext/iati/logic/validators.py#L81

It’s failing here because the first part of the org name ‘ec’ (the European Commisson) matches the code ‘ec’ (Ecuador). However, t

[2017-11-01 16:03] andylolz commented on #117
Thanks for linking to the code!

I’ve created ticket #149.

[2017-11-01 16:46] andylolz commented on #112
So it sounds like there was a one-off scheduled maintenance task, but before the maintenance was complete, the data was reindexed. Is that right?

[2017-11-02 18:13] andylolz commented on #71
I ran the script and found 499 publishers with no email address.

BUT I noticed that the `publisher_contact` field frequently includes an email address. Is this of interest / use? Here’s a script (with output) that additionally makes a naive attempt to regex this information from the `publisher_contact` field:
https://gist.github.com/andylolz/8f7df5df777cef95b4e1638aa7dbf7ae

In this case, only 21

[2017-11-03 09:22] dalepotter commented on #112
@minnaholi @goranmaxim - this issue appears to be back again in a big way.

Our routine smoke tests have been failing on the Registry since 00:38 UK time
- [Example 1](https://travis-ci.org/IATI/IATI-Website-Tests/builds/296556927) (00:38 - Appears to be ane example of the flakiness described in this issue)
- [Example 2](https://travis-ci.org/IATI/IATI-Website-Tests/builds/296569474) (01:17 - Site

[2017-11-03 09:52] dalepotter commented on #112
The Registry is now showing 183 publishers.

@minnaholi @goranmaxim - is a rebuild in progress?

![image](https://user-images.githubusercontent.com/8247168/32368119-9a2668ba-c07c-11e7-8cd1-cb0edfae6303.png)

[2017-11-03 09:57] JGulic commented on #112
@dalepotter yes we are rebuilding the index, everything should be ok in 15 minutes or so

[2017-11-03 10:20] dalepotter commented on #112
Thanks for this update @JGulic

[2017-11-06 08:58] hayfield commented on #112
Over the weekend (Saturday, Sunday, Monday), the Registry has been showing 0 publishers (or Datasets) from ~02:00-02:45GMT. This is an even longer period of no data than has been present in previous overnight issues.

[2017-11-06 11:46] goranmaxim commented on #112
Since both purging & reindexing take an arbitrary amount of time each time (especially purging, reindexing less so), we can't set them at an exact time and let them run in perfect sync, and be sure they ran without issues each time. They currently run at the [following hours](https://github.com/ViderumGlobal/ckanext-iati#nightly-cronjobs-runtimes).
A little bit of context:
The way normal deletion

[2017-11-06 12:23] hayfield commented on #112
There have been large periods of time where this has not been an issue at all. How was this not a problem at all for many months, and yet is now?

[2017-11-06 12:54] goranmaxim commented on #112
Configuration mishap on our end. We've corrected it again so it doesn't clear the index before a rebuild. No data should be missing now, regardless of nightly reindexing.
Thanks @hayfield for pointing us in the right direction.

[2017-11-06 13:05] dalepotter commented on #112
Thanks for fixing this one @goranmaxim - once again, I'll mark this issue as 'On hold' open for a few days to check that there are no further failing tests.

Issue #110 was also a reoccurring bug caused by a configuration error - what changes in process are you taking to document such configuration for the future? Am also tagging @minnaholi and @mbocevski as they may be able to offer an insight in

[2017-11-06 13:12] dalepotter commented on #148
This issue is linked to https://github.com/ViderumGlobal/ckanext-iati/issues/82

[2017-11-07 12:50] andylolz commented on #117
I find it weird that a mistake in the filetype metadata should prevent the version metadata being set. The filetype error should be either flagged or corrected, but the version can be set regardless. I’ve sent a pull request (#151) to do that.

[2017-11-08 15:01] andylolz opened #152 "Archiver hashing doesn’t work for minified data"
The archiver compares the old and new hash of a file to tell if anything has changed. Before it does this, it attempts to strip out the `generated-datetime`. That’s because if the only thing that changed in the file was the `generated-datetime` (e.g. if the file is generated on-demand, or re-generated on a schedule), we should consider the file unchanged.

However, the bit that strips out the `gen

[2017-11-10 10:44] dalepotter commented on #110
I'm now closing this issue as analytics are correctly showing for the past month. Thanks @newkdukem and @JGulic.

[2017-11-10 10:44] #110 closed

[2017-11-10 10:49] dalepotter commented on #149
@minnaholi Please could you take a look at this issue (along with the suggested fix that @andylolz has kindly provided in PR #150) and action/comment as appropriate.

[2017-11-10 11:31] andylolz commented on #152
UPDATE: I just noticed this is even more wrong. [This bit](https://github.com/ViderumGlobal/ckanext-iati/blob/18bfbe03ad960e648bee17825e281314a235d1d9/ckanext/iati/archiver.py#L169-L170) actually compares the old hash with the old hash, which will (of course) always be equal.

[2017-11-10 16:01] #149 closed

[2017-11-10 16:48] goranmaxim commented on #149
The regex solution kindly provided by @andylolz was tested and deployed on staging and has successfully ran without any issues. Since this is a bug fix, as previously noted, it was also directly deployed on production as well.

[2017-11-14 13:17] PetyaKangalova commented on #71
@andylolz  Many thanks for the suggestion and running the script. We actually considered the same option before, however, as the email has been added in their data, we cannot assume that this is the email they would like to add to their publisher account on the Registry (which I know is probably the case), or have the permission to do so. What I could do is send an email to all the identified publ

[2017-11-14 14:12] andylolz commented on #71
I’d suggest making it a passive change i.e. “we’ve made this change; please correct it if it’s wrong.” That’s likely to be more convenient for publishers, and will almost certainly result in higher conversion.

The script I used doesn’t look at the `contact-info` field in the IATI data. Is that what you mean? If so, I agree that that field shouldn’t be used for this, because it’s potentially unrel

[2017-11-17 09:53] PetyaKangalova commented on #71
@andylolz  Many thanks for the clarification.

I indeed thought that the script takes the email from the XML file, rather than the metadata.

Using the **Contact** field in the metadata (your existing script) is a very good idea and I think we should proceed with adding the emails you have identified. I can then send an email to inform them that we have updated their email and ask them to correct

[2017-11-17 10:02] PetyaKangalova commented on #125
@JGulic Thanks for the clarification on 'IATI registry updated' field. It does make sense to me that the archiver will pass the data only if there are updates.  The question I raised is also separate to the initial Github issues raised in here, so we can discuss separately, but many thanks for the clarification.

 As I understand, the existing Github issue related to a bug with the 'IATI data upda

[2017-11-17 10:19] andylolz opened #157 "Bug: Archiver compares old hash with itself (not old hash with new hash)"
The archiver compares [the old hash](https://github.com/ViderumGlobal/ckanext-iati/blob/18bfbe03ad960e648bee17825e281314a235d1d9/ckanext/iati/archiver.py#L136) with [itself](https://github.com/ViderumGlobal/ckanext-iati/blob/18bfbe03ad960e648bee17825e281314a235d1d9/ckanext/iati/archiver.py#L169), which will of course always be equal.

Below is an abbreviated version [of this code](https://github.c

[2017-11-17 13:44] JGulic commented on #71
@PetyaKangalova there are few problems that I can see with using the contact field in the metadata:
- One file can have more then one contact-info element in the XML file, which could contain different email addresses and in this case we would not know which one to get
- One Publisher can have many datasets with different resources, and all of them may contain a different information in the contac

[2017-11-17 13:46] JGulic commented on #125
@PetyaKangalova yes, we can close this issue and open new issues if needed

[2017-11-17 13:59] andylolz commented on #71
It’s included in the gist I shared:
https://gist.github.com/andylolz/8f7df5df777cef95b4e1638aa7dbf7ae#file-script-py

[2017-11-17 14:04] JGulic commented on #71
@andylolz thank you, sorry for missing it

[2017-11-17 14:07] andylolz commented on #71
I think you’re talking about the `contact-info` element in the data, rather than the metadata. Petya and I both agreed we don’t want to use the `contact-info` element – instead, we’re talking about the metadata here. It’s probably easiest to understand from the two images (of the AidData publisher page and ZOA activity file dataset page) in the comments above.

I explained above one way of dealing

[2017-11-20 13:45] andylolz commented on #71
@PetyaKangalova wrote:

Okay – here’s an improved version of the script:
https://gist.github.com/andylolz/41be8ef286a6c5dd2eafd8f04817a186#file-script2-py

This one looks at datasets, too. The output is in the same gist.

[2017-11-24 17:36] andylolz commented on #71
I’m just looking at the data use task force objectives – I see objective 2 involves improving data quality “through the development of feedback mechanisms”.

A means of contacting a publisher to flag data quality issues seems like a prerequisite for this. This address could be used by d-portal (and other portals) to populate the contact address for the bar at the bottom (rather than using support@

[2017-11-24 17:45] andylolz commented on #125
It’s a bit beside the point… but due to a bug the archiver doesn’t actually work like this. See #157 and the corresponding fix #154.

[2017-12-04 09:41] PetyaKangalova commented on #71
@andylolz Many thanks for updating the script so that it also checks for emails in the dataset metadata. @JGulic Could you please check and run the script? We are not waiting for anything else now- I am happy to use the emails that Andy has identified as they are specified by publishers in their metadata that is publically available. Please, could you also update this Github issue once done?

@and

[2017-12-08 16:15] andylolz opened #158 "SSL cert won’t verify without SNI support"
https://www.ssllabs.com/ssltest/analyze.html?d=iatiregistry.org

[2017-12-08 16:18] mbocevski commented on #158
Yes that’s correct, one must use SNI. Is that an issue? Do you have a very legacy library or browser that someone is using?

[2017-12-08 18:08] andylolz commented on #158
Not a browser, no – my issue is specifically with using the API programmatically, via the [ckanapi](https://pypi.python.org/pypi/ckanapi) library.

There’s no way to tell ckanapi not to verify certificates, and I’m trying to use it with python2 on a system without pyOpenSSL. That setup doesn’t work without no-SNI support.

Downgrading to [ckanclient](https://github.com/okfn/ckanclient-deprecated)

[2017-12-08 20:36] mbocevski commented on #158
Any reason you can’t install pyOpenSSL? You can also contribute to ckanapi an option not to verify certificates.

Considering SNI has been around for more than 10 years and is supported by virtually every browser and libraries out there I don’t think that I would consider this an issue unless you have very specific use cases (typically very legacy systems/software) that require that. If the latter

[2017-12-08 21:31] andylolz commented on #158
I considered this, but i strongly suspect such a PR wouldn't be accepted. I'm not averse to contributing to other people's open source projects, as you'll know from my PRs to this repo! E.g. #153; #154

[2017-12-08 21:39] #158 closed

[2017-12-11 16:44] goranmaxim commented on #71
I see the following columns produced by @andylolz's script:
org_name	original	publisher_contact	unique_dataset_email	dataset_emails

https://gist.github.com/andylolz/41be8ef286a6c5dd2eafd8f04817a186

Are we populating the publisher_contact field (where empty) with a value from "original", "unique_dataset_email" or "dataset_emails" (in that order)?

[2018-01-05 11:04] PetyaKangalova commented on #71
@goranmaxim  Apologies for the significant delay in responding. The publisher_contact field should be populated with a value from "publisher_contact" or  "unique_dataset_email" (in that order).

The original is the email for organisation that already have an email and dataset_emails has been used to identify if there is a unique_dataset_email. Let me know if there are any other questions.

[2018-01-06 13:10] andylolz commented on #71
@PetyaKangalova: Absolutely – Once the emails have been updated and this issue is closed, I’ll add the issue to d-portal. Otherwise it’s just blocked by this issue anyway.

[2018-01-10 10:24] andylolz opened #159 "“Error 503 Backend fetch failed” on all pages"
![screen shot 2018-01-10 at 10 24 15](https://user-images.githubusercontent.com/464193/34767601-722e4784-f5f0-11e7-86ce-2238ce6457b4.png)

[2018-01-10 10:32] minnaholi commented on #159
Hi @andylolz, we are aware of this, and our engineers are working on resolving the issue with the highest priority.

[2018-01-11 14:06] andylolz commented on #159
Same issue is occurring again today.

[2018-01-12 12:07] andylolz commented on #159
Day 3:

![screen shot 2018-01-12 at 12 06 58](https://user-images.githubusercontent.com/464193/34874518-232e1f40-f791-11e7-81e5-3ad277d68675.png)

[2018-01-12 12:20] minnaholi commented on #159
@andylolz  Our engineers are working on restoring the service as soon as possible.

[2018-01-16 15:50] andylolz commented on #159
![screen shot 2018-01-16 at 15 50 08](https://user-images.githubusercontent.com/464193/34997707-fd5f00ee-fad4-11e7-9321-523fd9c23d9f.png)

[2018-01-18 12:01] andylolz commented on #159
Looks like there were 9 hours of downtime overnight:

![screen shot 2018-01-18 at 11 54 44](https://user-images.githubusercontent.com/464193/35097180-0006fdc4-fc47-11e7-9f4b-7a9e58bd3da3.png)

Apparently that’s a year’s worth of downtime for a 99.9% uptime SLA: https://uptime.is/99.9

[2018-01-26 12:12] dalepotter opened #161 "First published date being reset"
As reported by @amy-silcock, it appears that the first published date for [Denmark - Ministry of Foreigh Affairs](https://www.iatiregistry.org/publisher/danida) has been reset to `22 December 2017` when they have been publishing for a lot longer:

![image](https://user-images.githubusercontent.com/8247168/35438971-c6858be2-0290-11e8-9b16-9e10586da9cb.png)

Note that this publisher has recently cha

[2018-01-29 10:29] andylolz commented on #159
This seems to be doing much better lately:
https://istheiatiregistrydown.treadsoft.ly

Going to close this issue.

[2018-01-29 10:29] #159 closed

[2018-01-29 11:00] andylolz commented on #161
[It says 19 March 2012.](https://www.iatiregistry.org/publisher/danida) Was this updated manually?

[2018-01-29 15:33] amy-silcock commented on #161
@andylolz  Yes I updated it manually for Denmark - Ministry of Foreign Affairs

[2018-01-29 18:05] andylolz commented on #161
The relevant code is not very clear:
https://github.com/ViderumGlobal/ckanext-iati/blob/3a54efa7f4c0efd49eee6c459c0fdf05a7953068/ckanext/iati/helpers.py#L288-L342

[2018-01-30 10:01] #152 closed

[2018-01-30 10:01] #157 closed

[2018-02-01 10:43] goranmaxim commented on #125
#154 is merged and deployed.

[2018-02-01 10:45] goranmaxim commented on #117
This has been merged and deployed.

[2018-02-01 11:11] goranmaxim commented on #71
The field has been updated for all publishers as per
https://gist.github.com/andylolz/41be8ef286a6c5dd2eafd8f04817a186
with either "publisher_contact" or "unique_dataset_email".
The only ones that have an empty publisher contact field are the ones we didn't have data to populate it from.

[2018-02-01 11:17] goranmaxim commented on #111
Fix has been applied. See #71

[2018-02-01 11:57] andylolz commented on #111
@goranmaxim Can you explain how #71 relates to this?

[2018-02-02 10:20] goranmaxim commented on #111
Correct me if I'm wrong, but this error appears because of publishers having an empty `publisher_contact_email` field.
https://github.com/ViderumGlobal/ckanext-iati/issues/71#issuecomment-362234682
Since we've ran the script which populated the fields for most publishers, as discussed in #71 , this issue shouldn't appear anymore (though there are still some publishers left for which there was no v

[2018-02-07 15:59] newkdukem commented on #161
This issue is currently under investigation. We'll post our findings as soon as we pinpoint the root cause.

[2018-02-16 12:54] amy-silcock commented on #128
Two new publisher account have been created with the same IATI Org ID:

https://www.iatiregistry.org/publisher/111111_publisher
and
https://www.iatiregistry.org/publisher/111111

This should not be possible.

[2018-02-16 17:30] kmbn commented on #128
The publishers do not have the same IATI Org ID, though it does look like they do.

Publisher 111111_publisher has IATI Org ID `"BE-BCE_KBO-0421210424"` and publisher 111111 has IATI Org ID `"BE-BCE_KBO-0421210424 "` (the quotation marks are only included to make the space at the end of 111111's Org ID visible).

The IATI Org ID field has a validator that enforces uniqueness, but it does not have

[2018-02-19 10:52] andylolz commented on #148
Obviously unsurprising, but here’s a lazy static version that loads in a fraction of the time: https://andylolz.github.io/iati-registry/

Paginating the table and adding a search would speed things up even further.

[2018-02-19 11:20] andylolz commented on #128
I’ve [asked a question over here](https://github.com/OpenDataServices/org-ids/issues/195), to get some clarity on what sort of additional validation should be applied here.

[2018-03-07 13:34] newkdukem commented on #161
I was unable to reproduce the issue locally. I changed the organisation identifier but the first published date value did not reset.
However I have made a [refactor](https://github.com/ViderumGlobal/ckanext-iati/pull/163) on the code @andylolz have mentioned earlier, so that functionality will be more clear in the future.

[2018-03-16 13:55] notshi opened #165 "Spaces in identifier"
Following on from [this discussion](https://github.com/OpenDataServices/org-ids/issues/195).

![id_space1](https://user-images.githubusercontent.com/1515961/37522054-c1068350-291a-11e8-87f1-e3323a8321fe.png)

The **Publisher d-portal** link uses the Identifier to direct users to a page on d-portal.
http://d-portal.org/ctrack.html?publisher=BE-BCE_KBO-%200550758080#view=main

In the [example above]

[2018-03-16 14:19] andylolz commented on #165
Related: https://github.com/ViderumGlobal/ckanext-iati/issues/128#issuecomment-366303215

[2018-03-28 11:36] andylolz opened #168 "Make it clear which branch is run on production, and link to the source code on iatiregistry.org"
7debfc7b is head of master currently, but the change isn’t reflected on production. This suggests the site isn’t deployed from master, or has local changes on production.

It would be preferable to deploy from master, in order to ensure that the code on github (that’s visible to everyone) reflects the code on production.

[2018-03-28 16:40] markbrough opened #169 "Certificates problem on www.iatiregistry.org"
https://www.iatiregistry.org/ errors `SSL_ERROR_BAD_CERT_DOMAIN`

This is a problem on Firefox, on Chrome it silently redirects to https://iatiregistry.org/

[2018-03-28 16:47] mbocevski commented on #169
The Let's encrypt certificate is only issued to the bare domain: iatiregistry.org. www (www.iatiregistry.org) needs to be added as a SAN to the certificate.

[2018-03-28 17:37] andylolz opened #170 "Heading on homepage doesn’t make sense"
![screen shot 2018-03-28 at 18 37 15](https://user-images.githubusercontent.com/464193/38046280-31958eae-32b7-11e8-9ece-6e76dc244e42.png)

I assume the idea was to rebrand from “IATI Data Registry” to “IATI Data” (?) ([see this](https://github.com/IATI/ckanext-iati/commit/a272c63c5aa87f57cd9ecf066f3ed12521ddf36a).) Or to make this the landing page for all IATI Data type things. In any case, I don’

[2018-04-05 14:07] markbrough commented on #169
Just tested again on Firefox -- https://www.iatiregistry.org now redirects to https://iatiregistry.org and the certificates issue no longer appears -- closing.

[2018-04-05 14:07] #169 closed

[2018-04-25 15:24] dalepotter opened #172 "Update setup instructions in README"
@derwas would it be possible to update the setup instructions in the [README file](https://github.com/IATI/ckanext-iati#installation).

Ideally, I would like a walk through on know the steps that I to set-up and run the code locally?  The end result might be similar to this example: https://github.com/IATI/IATI-Dashboard/#installation

[2018-04-27 10:19] dalepotter opened #173 "Review of metadata fields for each dataset"
Linked to #65, more information to follow...

[2018-04-27 10:25] dalepotter commented on #115
Following testing this week with @PetyaKangalova this issue is regarded as fixed.

There is however a related PR #171 for small tweaks to user-facing messaging.

[2018-04-27 10:25] #115 closed

[2018-04-27 10:27] dalepotter commented on #117
Following work by @goranmaxim and the team at Viderum, this issue is being closed.

If further problems are spotted with this feature, we can open a new issue.

[2018-04-27 10:27] #117 closed

[2018-04-27 10:31] dalepotter commented on #125
Following discussion with @PetyaKangalova this issue appears to be ongoing in isolated incidents. A new issue will be created with the specific details of the latest problem, for the benefit of the new suppliers.

[2018-04-27 10:31] #125 closed

[2018-04-27 10:36] dalepotter commented on #135
After discussion with @amy-silcock and @PetyaKangalova this is not regarded as priority for new feature development, so closing this issue for now...

[2018-04-27 10:36] #135 closed

[2018-04-27 10:43] dalepotter commented on #148
@derwas could you comment on if it possible to implement caching on this page and what the implications would be? From there, we can decide how to take this forward as appropriate.

[2018-04-27 10:46] dalepotter commented on #165
@derwas could you comment on to what extent it is possible to add validation to this field that would prevent whitespace? - Or perhaps validate the organisation identifier more rigorously, using a regex that we can provide.

[2018-04-27 10:52] dalepotter commented on #170
Thanks @andylolz - this is a valid point. Whilst the current sentence is technically correct, it is due to be fully reviewed as part of further work on the IATI websites. This is also in conjunction with the completion of the IATI style guide.

[2018-04-27 10:54] PetyaKangalova opened #174 "IATI data updated wrong- affecting a number of publishers"
A publisher (the World Bank)  just flagged that the metadata on the IATI Registry for their[ organisation file](https://iatiregistry.org/dataset/worldbank-org) does not correctly reflect the date in [their XML file](http://siteresources.worldbank.org/INTSOPE/Resources/5929468-1305310586289/IATI_ORG.xml) (see screenshots below).

![image](https://user-images.githubusercontent.com/24607542/39358762-

[2018-04-27 11:18] andylolz commented on #117
Looks like there may be some instances where this is still wrong, e.g.: https://iatiregistry.org/dataset/gac-amc-act_2_3

[2018-04-27 12:20] andylolz opened #175 "Re-enable / fix tests"
Looks like tests were commented out in c36d4191. The commit message says:

But presumably the second part of this (the uncommenting) didn’t happen.

Also, note that the travis badge in the README points to the old repo location, which is why it currently says “build unknown”.

[2018-05-01 13:51] PetyaKangalova opened #178 "IATI Org. file- AICS-URL error"
A publisher-[ AICS](https://iatiregistry.org/publisher/aics?q=organisation+file&sort=metadata_modified+desc)- noticed that their organisation file is showing an error on the IATI Registry (see screenshot below). The file can be accessed fine from the URL provided (http://openaid.aics.gov.it/iati/aics-org.xml). Could you please have a look and fix the error currently showing on their page? Thanks!

[2018-05-01 14:12] andylolz commented on #178
Same for https://iatiregistry.org/dataset/ifcwbg-org

![screen shot 2018-05-01 at 15 11 49](https://user-images.githubusercontent.com/464193/39475893-ff3e4dd2-4d51-11e8-87e7-037b83f97385.png)

[2018-05-01 14:36] andylolz opened #179 "registry appears to use CKAN v2.8.0 alpha (unreleased) ?"
Very possible I’ve got this wrong, but thought it best I check by raising here.

This page:
https://iatiregistry.org/api/3/action/status_show

Shows:
![screen shot 2018-05-01 at 15 34 21](https://user-images.githubusercontent.com/464193/39476782-2812bb64-4d55-11e8-86f5-ca38aaf86c6f.png)

But this page:
https://github.com/ckan/ckan/releases

Suggests CKAN v2.8.0a is currently a pre-release alpha, w

[2018-05-01 14:53] andylolz opened #180 "Incorrect IATI standard version sometimes shown in dataset metadata"
Continued from #117.

At present, the following 213 datasets appear to have issues (copied from https://github.com/IATI/ckanext-iati/issues/117#issuecomment-385411900):

actual version (in data) | registry version (in metadata) | dataset URL | dataset name
----------------|------------------|-------------|-------------
2.01 |  | https://iatiregistry.org/dataset/gac-amc-act_2_3 | gac-amc-act_2_3
2.

[2018-05-01 16:42] PetyaKangalova opened #181 "CSV upload- not working"
There seems to be a bug with the CSV upload functionality on the IATI Registry.

UNOPS and the European Commission have notified us of the errors. I have tested  the CSV files on IATI staging and the live site and I am unable to upload them successfully. The screenshot below shows that the file has been imported and this is not correct.

![iati_index](https://user-images.githubusercontent.com/2460

[2018-05-01 16:44] andylolz commented on #178
Here’s a list, in fact:
 * http://iatiregistry.org/dataset/bmub_iki-998
 * http://iatiregistry.org/dataset/france-af
 * http://iatiregistry.org/dataset/france-bd
 * http://iatiregistry.org/dataset/france-bdi
 * http://iatiregistry.org/dataset/france-bf
 * http://iatiregistry.org/dataset/france-bn
 * http://iatiregistry.org/dataset/france-br
 * http://iatiregistry.org/dataset/france-cg
 * http://ia

[2018-05-01 22:18] derwas commented on #178
Issue fixed!

[2018-05-01 22:35] derwas commented on #174
IATI Archiver updates meta data. I have recently updated it and the issue is now fixed.

[2018-05-01 22:36] derwas commented on #180
This issue related to IATI archiver that I have recently fixed.

The issue is fixed now!

[2018-05-01 23:06] derwas commented on #168
@andylolz we have migrated the IATI Registry to a new infrastructure. We are still working on the code on a private github repository. The code should be released soon.

[2018-05-01 23:07] derwas commented on #173
I notice that issue #65 has been closed. Should this one also be closed?

[2018-05-02 00:14] derwas commented on #181
Issue fixed.

[2018-05-02 06:45] andylolz commented on #178
I clicked some of the links above at random. This one still appears to be broken:
https://iatiregistry.org/dataset/lead_international-activities

Possibly others?

[2018-05-02 08:57] andylolz commented on #180
The following still appear to have issues:

actual version (in data) | registry version (in metadata) | dataset URL | dataset name
----------------|------------------|-------------|-------------
2.01 |  | https://iatiregistry.org/dataset/gac-amc-act_2_3 | gac-amc-act_2_3
2.02 | - | https://iatiregistry.org/dataset/dca-lb | dca-lb
2.02 | - | https://iatiregistry.org/dataset/dca-ml | dca-ml
2.02 | -

[2018-05-02 09:58] andylolz commented on #168
Thanks for your response, @derwas.

What’s the reason for making the production code closed source (albeit temporarily)?

I’m concerned because making code closed tends to be a [trapdoor function](https://en.wikipedia.org/wiki/Trapdoor_function). That is, it’s much easier to go from open source to closed source than vice versa.

[2018-05-02 10:34] PetyaKangalova commented on #181
I have just tried uploading a CSV file for the [European Commission - Service for Foreign Policy Instruments](https://iatiregistry.org/publisher/ec-fpi) and I am getting the same error as the user- see below. I am using the correct template and have tested with the attached CSV template in this [Zendesk ticket](https://iati.zendesk.com/agent/tickets/6617).

![image](https://user-images.githubuserc

[2018-05-03 11:45] andylolz commented on #170
Fair enough. Closing this one, then.

[2018-05-07 14:30] andylolz commented on #148
It looks like this might be fixed! 🚀

[2018-05-08 13:48] PetyaKangalova commented on #181
@derwas Is there any update on the European Commission file? The CSV files need to be uploaded successfully end of this week at the latest. I have updated the[ Zendesk ticket](https://iati.zendesk.com/agent/tickets/6617) as well.

[2018-05-09 08:20] derwas commented on #181
@PetyaKangalova All worked well for me! I uploaded the three CSV files without any issues!

<img width="992" alt="screen shot 2018-05-09 at 09 19 25" src="https://user-images.githubusercontent.com/21320874/39803828-2b89432e-536a-11e8-9b6a-4bf490544c82.png">

[2018-05-14 11:52] andylolz commented on #165
^^ I gather IATI doesn’t impose a restriction on whitespace in org IDs ([see here](http://iatistandard.org/203/organisation-standard/iati-organisations/iati-organisation/organisation-identifier/#rules), for instance). I tried to discern whether a restriction is imposed higher up, at [org-id.guide](http://org-id.guide) level, but didn’t reach a conclusion (OpenDataServices/org-ids#195). But I’d ass

[2018-05-14 14:32] amy-silcock opened #182 "First published date not filling in"
Hi,

With our recent publishers sometimes the 'first published date' is being filled in automatically and sometimes it is not.

E.g. for Action Against Hunger Spain this didn't happen.

Where it's not happening we are filling in the date manually.

[2018-05-14 14:46] andylolz commented on #182
[Action Against Hunger Spain](https://iatiregistry.org/publisher/acfspain) currently says:

![screen shot 2018-05-14 at 15 45 11](https://user-images.githubusercontent.com/464193/40004538-d359d146-578d-11e8-8bde-5f506f653558.png)

Is that as a result of the manual update?

[2018-05-15 08:52] amy-silcock opened #183 "'Last updated date' not updating"
Hi,

A tool provider has got in contact to say that the 'last updated date' for a publisher's dataset is not updating automatically.

Further details are in zendesk ticket #6739

[2018-05-15 09:10] andylolz commented on #183
Is this a duplicate of #174?

[2018-05-15 10:21] amy-silcock opened #184 "IATI Registry not following re-directs"
The publisher ECDPM is hosting their file using google storage. It is an xml file.

https://iatiregistry.org/publisher/ecdpm

However, we think the Registry is not following the redirects to the file. And is rather displaying an error tha says the file is a html document.

Please could you take a look?

The related zendesk ticket is #6677

[2018-05-15 10:28] andylolz commented on #184
I think there’s an issue with the permissions settings on the ECDPM google cloud storage.

To check this, try following the steps below:

 1. open a new incognito browser
 2. visit the [ECDPM activity file](https://iatiregistry.org/dataset/ecdpm-act) on the IATI registry
 3. click the download button
 4. see the following sign in page:
    ![screen shot 2018-05-15 at 11 26 27](https://user-images.

[2018-05-15 14:31] amy-silcock opened #185 "AMREF Health Africa UK - appearing in both published and pending lists"
The organisation AMREF Health Africa UK is appearing in both the published and pending lists.

Though its name in the pending list is AMREF UK: https://www.iatiregistry.org/dashboard/pending

They are in fact a publisher.

Please can they be removed from the 'Pending' list.

[2018-05-16 10:09] andylolz commented on #184
Looks to be fixed now. Correspondingly, the warning on the registry has disappeared.

[2018-05-16 15:12] derwas commented on #185
Hey @amy-silcock the publisher that appears on the pending page (amrefuk) is not the same that has been approved (amrefha).

The one on the pending page can be seen through this link (using the identifier of the publisher rather than its name) https://www.iatiregistry.org/publisher/b99aa7de-83f8-42b3-962e-d51d1f4ce0b4

There is an explicit redirect in the code that changes the address of the amref

[2018-05-16 15:14] derwas commented on #184
Thanks @andylolz :)

[2018-05-16 15:16] derwas commented on #183
@amy-silcock  is this still an open issue?

[2018-05-16 15:29] derwas commented on #180
@andylolz is this list still the same?

[2018-05-16 19:07] andylolz commented on #180
@derwas most of the list looks sorted!

https://iatiregistry.org/dataset/gac-amc-act_2_3 still shows up as blank, but that might be a result of the error shown.

https://iatiregistry.org/dataset/said-org is still wrong, but IIRC that’s due to the dataset not following the naming convention (the publisher is called `said-uk` so the dataset should be `said-uk-org`). There’s some discussion about tha

[2018-05-17 13:34] PetyaKangalova opened #186 "Asian Development Bank data- XML error- issue with re-directs"
The Asian Development Bank's [IATI Registry page](https://iatiregistry.org/publisher/asdb) shows the below errors.

![image](https://user-images.githubusercontent.com/24607542/40179475-59284398-59dc-11e8-8281-8452b7a7b897.png)

The issues has been raised by the publisher in this [Zendesk ticket](https://iati.zendesk.com/agent/tickets/6765). This is possibly another example of a recent issue with r

[2018-05-17 14:33] andylolz commented on #186
You mean #184? [As described here](https://github.com/IATI/ckanext-iati/issues/184#issuecomment-389120040), I think that was a publisher error rather than a registry error.

And also raised here: https://github.com/IATI/ckanext-iati/issues/178#issuecomment-385880035

[2018-05-17 16:02] derwas commented on #185
To properly investigate the issue please refer to these two API calls:

- https://iatiregistry.org/api/action/organization_show?id=amrefuk
- https://iatiregistry.org/api/action/organization_show?id=amrefha

[2018-05-23 13:07] amy-silcock opened #188 "Searching data on the IATI Registry"
Hi,

I've noticed that when you're searching datasets here: https://www.iatiregistry.org/dataset

There are only a small number of publishers which you can sort by. Do we know the reason as to why this is? Or please can we include all the publishers here.

Thanks,

Amy

[2018-06-05 14:45] amy-silcock commented on #182
Hi Derilinx,

The 'first published' date is still not always filling in automatically. e.g. https://www.iatiregistry.org/publisher/ads-nyanza

We've also come across more examples of where the 'first published' date has been updated e.g. AbleChildAfrica first published in 2013. However the Registry is saying 2018: https://www.iatiregistry.org/publisher/ablechildafrica

@dalepotter please can we ge

[2018-06-05 16:17] dalepotter commented on #182
Marking as `Bug` for @derwas to take a look at when next available.

[2018-06-05 16:20] dalepotter commented on #188
Example:
![image](https://user-images.githubusercontent.com/8247168/40989060-9bc494b0-68e4-11e8-8854-7c97ac3b397f.png)

Perhaps this list is hardcoded, since there do not appear to be 750+ publishers in the dropdown :-)

Marking as `Bug` for @derwas to take a look at when next available.

[2018-06-05 16:22] dalepotter commented on #183
As @andylolz this is a duplicate of #174 and #125 so closing this one...

[2018-06-05 16:22] #183 closed

[2018-06-05 16:22] amy-silcock commented on #185
@derwas Yes please to deleting the second Amref account which holds no datafiles

[2018-06-05 16:23] amy-silcock commented on #184
Great, I confirm that it's fixed

[2018-06-05 16:24] #184 closed

[2018-06-05 16:31] dalepotter commented on #165
FYI The initially reported issue seems to have now been fixed (according to the [dataset page](https://www.iatiregistry.org/dataset/eip-ye)):

![image](https://user-images.githubusercontent.com/8247168/40989572-1f2abaa4-68e6-11e8-8772-98775ebc9c39.png)

[2018-06-06 09:50] derwas commented on #185
Done!

[2018-06-06 09:53] amy-silcock commented on #185
Thank you

[2018-06-06 09:53] #185 closed

[2018-06-06 13:37] derwas commented on #186
Just to confirm that these are actual errors from the xml files of this organization. I suspect the & that is used a lot  in their xml files.

[2018-06-06 13:51] andylolz commented on #186
[code]

^^ The above works for me. So I don’t think this looks like an issue with the publisher’s data.

[2018-06-06 14:13] derwas commented on #186
This is how it is tested in the archiver.

`import urllib
from lxml import etree

url_str = 'https://www.adb.org/iati/iati-activities-af.xml'
xml = urllib.urlopen(url_str).read()

try:
    tree = etree.fromstring(xml)
except etree.ParseError as err:
    print err
    raise`

and I get this error: lxml.etree.XMLSyntaxError: Entity 'bull' not defined, line 32, column 72

[2018-06-06 15:31] andylolz commented on #186
if you view [the contents of `xml`](https://rawgit.com/andylolz/4fdefb723750a0e9379b0e4c34fad392/raw/res.html) in a browser, you’ll see something like this:

![screen shot 2018-06-06 at 16 28 51](https://user-images.githubusercontent.com/464193/41048501-bdfb4908-69a6-11e8-9ab8-d14533118657.png)

If you set the User-Agent header to something explanatory (which is good practice anyway) that should s

[2018-06-06 15:41] derwas commented on #186
The archiver downloads the files locally then opens them and checks for errors!

https://github.com/IATI/ckanext-iati/blob/master/ckanext/iati/archiver.py#L172-L186

[2018-06-06 16:49] andylolz commented on #186
Hi @derwas,

Try modifying your test in the following way:

[code]

[2018-06-06 16:52] andylolz commented on #186
It’s very similar to your example, except it sets a User-Agent. So the adb.org server won’t respond with a 403 and some HTML saying you’re not allowed access. Instead, it’ll respond with some XML, which is what you’re expecting.

It looks like you set the User-Agent on the archiver using a config variable:

https://github.com/IATI/ckanext-iati/blob/7debfc7b69305e6aa37e58f8b08fcdad989f7e5e/ckanext/

[2018-06-07 16:14] PetyaKangalova commented on #181
Organisation confirmed that upload has been successful so closing the issue.

[2018-06-07 16:14] #181 closed

[2018-06-07 16:19] andylolz commented on #186
@derwas I just noticed you said this:

However, [searching this repo for the code you provided](https://github.com/IATI/ckanext-iati/search?utf8=%E2%9C%93&q=urllib.urlopen&type=), it isn’t present anywhere.

Does this relate to https://github.com/IATI/ckanext-iati/issues/168#issuecomment-385816317? I.e. is the code you’re referencing present on a private repository, but not publicly available?

I’

[2018-06-07 19:01] derwas commented on #186
The actual code that is running is not closed, it is available here https://github.com/derilinx/ckanext-iati

The difference between the code in IATI repo and Derilinx repos is simply the use of Redis instead celery for task management and few bug fixes that we did

The code I shared was sample test I was running locally to reproduce the same error reported by the archiver.

[2018-06-07 19:16] derwas commented on #161
The relevant code highlighted by @andylolz is the one responsible for this issue.

The reasons is because simply the code does the following: loop through the packages(datasets) of an organization (L311) and collect their creation dates (L317) in dates [] (variable declared in L295). The first published date is the the first element of the sorted list of dates.

In other words, this date is automa

[2018-06-07 19:19] derwas commented on #182
I noticed that this happens for new organizations only. This is much related to #161 .
I will investigate further and get back to you as soon as possible.

[2018-06-07 19:27] derwas commented on #178
The remaining issues are very similar to  #186
I need to check why the archiver has been developed to parse the xml files using that method. If we decide to implement another method for parsing the xml file all the issues should disappear.

[2018-06-07 19:30] derwas commented on #174
The issue has been fixed!!!

[2018-06-07 19:44] derwas commented on #165
@dale I will consider a validator for this field but it is not a high priority for the moment.

I also noticed that even after the fix of the whitespace in the id of the organization, d-portal did not pick the correct information about this organization. It only took the correct organization name.

[2018-06-07 21:39] andylolz commented on #178
This one isn’t:
https://iatiregistry.org/dataset/lead_international-activities

In all instances where the error message is:

…the issue has nothing to do with XML parsing. The server is responding with HTML, not XML. If you view the HTML, it looks like this: https://rawgit.com/andylolz/4fdefb723750a0e9379b0e4c34fad392/raw/res.html

If you set the User-Agent header when requesting the XML, it fixe

[2018-06-07 21:42] andylolz commented on #179
Great! Thanks for this.

[2018-06-07 21:51] derwas commented on #186
You are most probably right, but for me it hard to take someone else code and decide to do changes without knowing why those decisions were made this way!

I don't know why the original developer decided to download the xml file and verify its content locally.
I would never download a file for verification purposes unless I am sure that files might very large and could cause server performance iss

[2018-06-07 22:28] andylolz commented on #186
I checked server logs to figure this out. The user agent string that’s currently being used is: `\"IATI (CKAN)\"`.

That’s the same as the one suggested in [the configuration section of the README](https://github.com/IATI/ckanext-iati/blob/master/README.rst#configuration).

That User Agent string is being blocked by the Asian Development Bank server. They should either unblock it, or the User Agen

[2018-06-07 22:55] andylolz commented on #186
I checked our server logs to figure this out. The user agent string that’s currently being used is: `\"IATI (CKAN)\"`.

That’s the same as the one suggested in [the configuration section of the README](https://github.com/IATI/ckanext-iati/blob/master/README.rst#configuration).

According to our server logs, this User Agent started being used on 1 May 2018. It wasn’t used before that. So that’s pro

[2018-06-08 00:33] andylolz commented on #174
These are frequently incorrect, so it looks like the issue is still present. Here are a few examples:
 * https://iatiregistry.org/dataset/pact-organization1116
 * https://iatiregistry.org/dataset/asi-org
 * https://iatiregistry.org/dataset/afd-zw (wrong by 2 years)
 * https://iatiregistry.org/dataset/dfid-gb

[2018-06-08 00:38] andylolz commented on #180
They’re both still wrong, but I suspect in both cases it’s for unrelated reasons. So I think this can be closed.

[2018-06-08 09:43] andylolz commented on #161
Worth noting that this function was cleaned up a bit, in some commits that aren’t on the derilinx fork. It even includes some explanation at the top now, which matches up with @derwas’ assessment:
https://github.com/IATI/ckanext-iati/blob/7debfc7b69305e6aa37e58f8b08fcdad989f7e5e/ckanext/iati/helpers.py#L287-L291

[2018-06-08 12:06] notshi commented on #165
This is a strange one to track down ~ turns out there are issues on many levels.

It looks like the activities published by European Institute of Peace has a different publisher identifier for its ```reporting-org @ref```.

![eip](https://user-images.githubusercontent.com/1515961/41157077-5870e922-6b1c-11e8-9e3d-bf644b3c475a.png)

d-portal picks up whatever it finds - in this case, the correct org

[2018-06-11 10:37] amy-silcock commented on #174
Hi @derwas USAID have also got in contact about this on Friday. I will assign the ticket to you on zendesk. Please can you respond to them?

[2018-06-12 10:11] derwas opened #189 "Improve the CSV uploaded or more informative UI"
Currently the CSV uploader does not properly show an informative message to users!

[2018-06-12 10:46] derwas commented on #148
I will look at cashing options for this page and get back to you as soon as possible.

[2018-06-12 12:53] andylolz commented on #174
Here’s a CSV of the instances where the last updated timestamp in the data doesn’t match the last updated timestamp on the registry:
https://gist.github.com/andylolz/f640bcba69ee8f4b90629afaede7b576

It looks the timestamps for USAID have been fixed in the registry (today, I think) so they don’t feature in the above list.

[2018-06-19 08:50] amy-silcock opened #190 "Automatic detection of Org or Activity file"
Can we have the IATI Registry automatically detecting if a file is an Org file or Activity file?

At the moment some users have entered this incorrectly.

This relates to the zendesk ticket: #4187

[2018-07-03 23:35] notshi opened #192 "Leading (and trailing) spaces in display name"
Recently on d-portal, we've noticed that this publisher is at the top of the list of the dropdown menu when sorted alphabetically.

![space1](https://user-images.githubusercontent.com/1515961/42249077-10e14214-7f21-11e8-87ab-a9e8cd9a16c6.png)

At first glance, nothing in their name stands out to qualify being listed before Aasaman Nepal.

Upon further inspection, it seems the Registry allows leadi

[2018-07-04 00:03] notshi commented on #192
Looks like the [IATI Dashboard](http://dev.dashboard.iatistandard.org/data_quality.html) is also affected by this.

![space2](https://user-images.githubusercontent.com/1515961/42249931-d39150fc-7f25-11e8-9004-d36d3e952f31.png)

[2018-07-04 13:06] amy-silcock opened #193 "Error message on GAVI Alliance's files"
Hi,

Please can the error message currently appearing here: https://iatiregistry.org/publisher/gavi be removed? From our end their files are correct.

The zendesk ticket number is: #6966

Thanks.

[2018-07-06 10:59] dalepotter opened #194 "Remove static pages and update header links"
As part of a review of content on using IATI data (which took place alongside the transition to a new website), some static content currently on the IATI Registry has been re-drafted and added to the new main iatistandard.org site.

## Updating the header

As such please could the following links be updated in the header:
![image](https://user-images.githubusercontent.com/8247168/42375157-8c65665c

[2018-07-09 06:43] andylolz commented on #193
There’s [a byte order mark (BOM)](https://en.wikipedia.org/wiki/Byte_order_mark) at the start. That’s what’s causing the parsing issues.

I agree with @amy-silcock that the GAVI files are correct. BOMs are optional, so should be handled by the requester prior to parsing.

You can fix the error by decoding with something like `res.decode('utf-8-sig')`.

[2018-07-09 12:29] derwas commented on #194
All done!

[2018-07-10 16:46] amy-silcock opened #196 "Broken links on Organisation Form"
Hi,

With the move to the new IATI website a couple of links on the Organisation Form are now broken. I've created a pull request to fix them: https://github.com/IATI/ckanext-iati/pull/195

[2018-07-11 09:03] amy-silcock commented on #196
I've also made the pr here: https://github.com/derilinx/ckanext-iati/pull/1

Not sure which one we're using?

[2018-07-11 09:34] andylolz commented on #196
👍 for this. Situation is unclear currently. Issue tracker in one repo; code deployed from another. Stale code in official repo etc.

[2018-07-11 10:15] dalepotter commented on #194
Resolved in commits derilinx/ckanext-iati@0a98c646292fd8ea8c6619a5080edaf82e3c7bcf derilinx/ckanext-iati@a2a32f41f08af9c115ad912878dcfa2447afa06a derilinx/ckanext-iati@62dc9727b37f567a258ceef9c0ad0bd0a2a98a6f and derilinx/ckanext-iati@67e488b784ff1827f84d6c0181b13f3a93e0c890 - therefore closing this issue.

Thanks @derwas

[2018-07-11 10:15] #194 closed

[2018-07-16 08:43] amy-silcock commented on #174
Hi @derwas, this is currently an issue for the United Nation Population Fund. They're asking about why the data has not been updated.